<div class="main-parent">
    <p class="main-great">Get Started Now</p>
    <p class="main-subheading">Please answer the following 6 questions. We will use the information you provide to check your eligibility, with no risk to your credit score.</p>
</div>
<style asp-add-nonce="true">
     .main-parent {
            text-align: center;
    }
    .main-subheading {
        text-align: center;
        color: #0054b6;
        font-size: 1.2em;
        font-weight: bold;
    }
    .main-great {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 20px;
        color: black;
    }
</style>