  <!-- great-news section start -->
     <section class="great-news">
       <div class="custom-padding">
         <div class="container">
           <div class="row justify-content-center">
             <div class="col-xl-10 col-lg-12 col-md-12">
               <div class="news-details text-center">
                   <h1 class="title m-0 blue-text">Great News, You’ve Been Pre-Qualified.</h1>
                   <h3>For expedited service, call <a href="tel:877800-5343">(877) 800-5343</a>.</h3>
                   <p>Or simply continue below. Please note: The security of your personal information is very important to us. We employ high levels of encryption to keep your information safe and confidential. <br> <b>Verify your information by completing any empty fields then click VERIFY.</b> </p>
               </div>
               <div class="custom-form">
                   <h3 class="grey-text">Personal Information</h3>
                   <form>
                     <div class="row">
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="fname"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="fname" class="form-label">First Name</label>
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="initial"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="initial" class="form-label">Middle Name/Initial</label>
                         </div>
                       </div>
                       
                     </div>
   
   
                     <div class="row">
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="fname"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="fname" class="form-label">First Name</label>
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="Suffix"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="Suffix" class="form-label">Suffix</label>
                         </div>
                       </div>
                     </div>
                     
                     <div class="row">
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="address"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="address" class="form-label"
                             >Address</label
                           >
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="address2"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="address2" class="form-label">Address 2</label>
                         </div>
                       </div>
                     </div>
   
                     <div class="row">
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="city"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="city" class="form-label"
                             >City</label
                           >
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="custom-row slected-color">
                           <select
                           class="form-select form-control" aria-label="Default select example">
                           <option selected>State</option>
                           <option value="1">One</option>
                           <option value="2">Two</option>
                           <option value="3">Three</option>
                         </select>
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="custom-row">
                           <input
                             id="zipcode"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="zipcode" class="form-label"
                             >Zip Code</label
                           >
                         </div>
                       </div>
                     </div>
                     
                     <div class="row">
                      
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="security"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="security" class="form-label"
                             >Social Security Number (000-00-0000)</label
                           >
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input type="date" class="form-control form_date" id="exampleInputText4" placeholder="Date of Birth"  onfocus="(this.type='date')" data-date="" data-link-field="dtp_input2">
                         </div>
                       </div>
                       
                     </div>
   
                     <div class="custom-row">
                       <input
                         id="email"
                         placeholder=" "
                         type="email"
                         class="form-control"
                       />
                       <label for="email" class="form-label"
                         >Email Address</label
                       >
                     </div>
                     
                     <div class="row">
                      
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="homephone"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="homephone" class="form-label"
                             >Home Phone</label
                           >
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="cellphone"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="cellphone" class="form-label"
                             >Cell Phone</label
                           >
                         </div>
                       </div>
                       
                     </div>
                     <div class="row">
                      
                       
                       <div class="col-md-6">
                         <div class="custom-row ">
                           <input
                             id="drivernumber"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="drivernumber" class="form-label"
                             >Drivers License Number</label
                           >
                         </div>
                       </div>
   
                       <div class="col-md-6">
                         <div class="custom-row slected-color">
                           <select
                           class="form-select form-control" aria-label="Default select example">
                           <option selected class="active">Drivers License State</option>
                           <option value="1">One</option>
                           <option value="2">Two</option>
                           <option value="3">Three</option>
                         </select>
                         </div>
                       </div>
                       
                     </div>
                     
                     <div class="row">
                      
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="license"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="license" class="form-label"
                             >Drivers License Date Issued (mm/dd/yyyy)</label
                           >
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="expiration"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="expiration" class="form-label"
                             >Drivers License Expiration (mm/dd/yyyy)</label
                           >
                         </div>
                       </div>
                       
                     </div>
   
   
                     <h3 class="grey-text">Current Employer Information</h3>
                     
   
                     <div class="custom-row">
                       <input
                         id="employer"
                         placeholder=" "
                         type="text"
                         class="form-control"
                       />
                       <label for="employer" class="form-label">Employer Name</label>
                     </div>
   
                     <div class="row">
                       <div class="col-md-6">
                         <div class="custom-row">
                           <select
                           class="form-select form-control" aria-label="Default select example">
                           <option selected class="active">Employment Type</option>
                           <option value="1">One</option>
                           <option value="2">Two</option>
                           <option value="3">Three</option>
                         </select>
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="floor"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="floor" class="form-label">Dept/Floor</label>
                         </div>
                       </div>
                       
                     </div>
   
   
                     <div class="row">
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="employercity"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="employercity" class="form-label">Employer City</label>
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="custom-row slected-color">
                           <select
                           class="form-select form-control" aria-label="Default select example">
                           <option selected class="active">Employer State</option>
                           <option value="1">One</option>
                           <option value="2">Two</option>
                           <option value="3">Three</option>
                         </select>
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="custom-row">
                           <input
                             id="zipcode"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="zipcode" class="form-label">Employer Zip Code</label>
                         </div>
                       </div>
                     </div>
   
                     <div class="row">
                       <div class="col-md-6">
                         <div class="form-control p-0 mb-md-0 mb-3">
                           <div class="row">
                             <div class="col-md-8 col-8">
                               <div class="custom-row m-0">
                                 <input
                                   id="workphone"
                                   placeholder=" "
                                   type="text"
                                   class="form-control border-0 p-0"
                                 />
                                 <label for="workphone" class="form-label">Work Phone</label>
                               </div>
                             </div>
                             <div class="col-md-4 col-4">
                               <div class="custom-row m-0">
                                 <input
                                   id="workphone"
                                   placeholder=" "
                                   type="text"
                                   class="form-control border-0 p-0"
                                 />
                                 <label for="workphone" class="form-label bold-txt">Ext:</label>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="floor"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="floor" class="form-label bold-txt">Work Schedule:    — : — —   to   — : — —</label>
                         </div>
                       </div>
                       
                     </div>
                     
                     <div class="row align-items-center">
                       
                       <div class="col-md-6">
                         <div class="custom-row">
                           <select
                           class="form-select form-control" aria-label="Default select example">
                           <option selected class="active">Pay Cycle</option>
                           <option value="1">One</option>
                           <option value="2">Two</option>
                           <option value="3">Three</option>
                         </select>
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="custom-row">
                           <select
                           class="form-select form-control" aria-label="Default select example">
                           <option selected class="active"><b>$</b> Pay Rate</option>
                           <option value="1">One</option>
                           <option value="2">Two</option>
                           <option value="3">Three</option>
                         </select>
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="custom-row d-flex align-items-center">
                           <div class="custom-control custom-radio">
                             <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                             <span class="check"></span>
                             <label class="custom-label" for="customRadio1">Hourly</label>
                           </div>
                           <div class="custom-control custom-radio">
                             <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                             <span class="check"></span>
                             <label class="custom-label" for="customRadio2">Salary</label>
                           </div>
                         </div>
                       </div>
                       
                     </div>
   
                     <div class="row">
                       <div class="col-md-6">
                           <div class="custom-row">
                             <input
                               id="income"
                               placeholder=" "
                               type="text"
                               class="form-control"
                             />
                             <label for="income" class="form-label">$ Gross Income</label>
                           </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="netincome"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="netincome" class="form-label">$ Net Income</label>
                         </div>
                       </div>
                     </div>
   
                     <div class="row">
                       <div class="col-md-6">
                         <div class="custom-row">
                           <input
                             id="grossincome"
                             placeholder=" "
                             type="text"
                             class="form-control"
                           />
                           <label for="grossincome" class="form-label">$ Annual Gross Income</label>
                         </div>
                       </div>
                     </div>
   
                     <div class="statement-details">
                       <h3 class="grey-text">Covered Borrower Identification Statement</h3>
                       <p>Federal law provides important protections to active duty military members of the Armed Forces and their dependents. To ensure that these protections are provided to eligible applicants, we require you to select one of the following statements as applicable.</p>
                     </div>
   
   
                     <div class="row align-items-center">
                       <div class="col-md-6">
                         <div class="custom-row">
                           <select
                             class="form-select form-control" aria-label="Default select example">
                             <option selected class="active">Status</option>
                             <option value="1">One</option>
                             <option value="2">Two</option>
                             <option value="3">Three</option>
                           </select>
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="custom-row question ms-lg-5">
                           <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i><u>Questions</u></a>
                         </div>
                       </div>
                     </div>
   
                     <h3 class="grey-text">Marketing</h3>
   
                     <div class="custom-row">
                       <input
                         id="lending"
                         placeholder=" "
                         type="text"
                         class="form-control"
                       />
                       <label for="lending" class="form-label blue-text">How did you find out about TriPoint Lending?</label>
                     </div>
   
                     <h3 class="grey-text">Attach Documents</h3>
   
                     <div class="row">
                       <div class="col-md-6 mb-md-0 mb-3">
                         <div class="row align-items-center">
                           <div class="col-lg-9 col-md-12">
                             <div class="custom-row">
                               <input
                                 id="photo"
                                 placeholder=" "
                                 type="text"
                                 class="form-control"
                               />
                               <label for="photo" class="form-label">Add Photo ID</label>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-12 ps-0">
                             <a href="#" class="comman-btn blue-btn small-btn browse-btn">Browse</a>
                           </div>
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="row align-items-center">
                           <div class="col-lg-9 col-md-12">
                             <div class="custom-row">
                               <input
                                 id="residence"
                                 placeholder=" "
                                 type="text"
                                 class="form-control"
                               />
                               <label for="residence" class="form-label">Add Proof of Residence</label>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-12 ps-0">
                             <a href="#" class="comman-btn blue-btn small-btn browse-btn">Browse</a>
                             
                           </div>
                         </div>
                       </div>
                     </div>
                     
   
                     <div class="verify-btn d-flex justify-content-center">
                       <a class="comman-btn green-btn big-btn">Verify</a>
                     </div>
   
                     
                   </form>
               </div>
             </div>
           </div>
         </div>
       </div>
     </section>
     <!-- great-news section end -->
   
<style asp-add-nonce="true">
   
</style>