<div class="chat-banner-parent">
    <span>
        <a href="tel:1+888-555-5555"><picture><source type="image/webp" srcset="images/headphones.webp"><img alt="Headphones" src="images/headphones.png"></picture></a>
        or <a href="#">click here</a> to discuss your loan options with a consultant.
    </span>
</div>

<style asp-add-nonce="true">
    .chat-banner-parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .chat-banner-parent img {
        width: 39px;
        height: 42px;
    }
    .chat-banner-parent a {
        color: #0054b6;
        vertical-align: middle;
    }
    .chat-banner-parent span {
        text-align: center;
        vertical-align: center;
        width: 100%;
        font-size: 1em;
    }
</style>