<div class="feature-banner-parent">
    <span>You can apply for up to <$XX,XXX>.</span>
</div>

<style asp-add-nonce="true">
.feature-banner-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 20px;
    background-color: #fe9c57;
}
.feature-banner-parent  span {
    text-align: center;
    vertical-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 18pt;
}
</style>