<div class="main-parent">
    <p class="main-great">Great News - You're Pre-approved!</p>
    <div>
        <p class="main-subtitle">
            <b>It's fast and easy to apply with New Haven Funding.</b>
        </p>
        <p class="main-subhead">
            <b>Get your offer with no impact to your credit score.</b>
        </p>
        <p class="main-subhead">To begin, please enter the Pre-approval Code form the letter we sent.</p>
    </div>
    <picture>
        <source type="image/webp" srcset="images/envelope.webp" >
        <img alt="Envelope" src="images/envelope.png">
    </picture>
    
</div>

<style asp-add-nonce="true">
    .main-parent {
        text-align: center;
    }
    .main-parent img {
        height: 182px;
        width: 175px;
        position: relative;
        top: -32px;
    }
    .main-parent div {
        background-color: #0054b6;
        text-align: center;
        color: white;
        font-size: 2em;
        padding: 62px;
    }
    .main-great {
        font-size: 2.5em;
        font-weight: bold;
    }
    .main-subtitle {
        margin-top: 0;
    }    
    .main-subhead {
        margin: 0;
        font-size: 0.6em;
    }
    
</style>