<section class="pg-banner about-us">
    <div class="comman-block">
        <div class="product-img">
            <div class="row m-0 justify-content-end">
                <div class="col-lg-7 col-md-12 p-0">
                    <div class="product-img top-img">
                        <div class="inner-banner main-img">
                            <picture>
                                <source type="image/webp" srcset="images/about-banner.webp">

                                <img src="images/about-banner.jpeg" alt="product" class="img-fluid">
                            </picture>
                        </div>
                        <div class="about-tringle about-img">
                            <picture>
                                <source type="image/webp" srcset="images/about-tringle.webp">

                                <img src="images/about-tringle.png" alt="about" class="img-fluid">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-content">
            <div class="inner-container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="contact-detail about-details">
                            <h1>Rely On An Industry Leader</h1>
                            <p>TriPoint Lending is a trusted partner in the financial services industry. Since 2017, we’ve bridged the gap between financial goals and the funding needed to achieve them. We offer meaningful solutions to hardworking people seeking ways to overcome debt, cover expenses and pay bills.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- our-possibilities start  -->
<section class="possibilities-section our-goal about-goal">
    <div class="tirngle-shape">
        <picture>
            <source type="image/webp" srcset="images/mask-bg.webp">
            <img src="images/mask-bg.png" alt="right-trinagle" class="img-fluid">

        </picture>
    </div>
    <div class="container">
        <div class="possible-title">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-2 col-lg-3 col-md-5">
                    <div class="position-relative">
                        <h1>Our <br> Goal</h1>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-7">
                    <p>
                        Our goal is to support customers throughout the process, so they can feel confident that their loan
                        is customized to their needs and situation. As leaders in our field, we strive to provide access to
                        personal loan options with competitive rates, fair terms and fast funding.
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our-possibilities end  -->

<!-- join section start -->
<section class="join-section pladge-block">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-6  col-md-12 p-0">
                <div class="join-people">
                    <picture>
                        <source type="image/webp" srcset="images/pledge.webp">
                        <img src="images/pledge.png" alt="join" class="img-fluid">
                    </picture>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="people-details comman-width your-self">
                    <h2 class="sub-title blue-text"><b>The TriPoint Pledge:</b></h2>
                    <ul>
                        <li>We work with customers to find loan solutions that work for their goals and needs.</li>
                        <li>
                            Our team of professionals are here to help individuals and families get the best loan for their
                            situation and budget.
                        </li>
                    </ul>
                    <br/>
                    <p><b>We’re here for you</b>. Get your available rate today with <b>no impact to your credit score.</b></p>
                    <div class="join-btn">
                        <a href="apply" class="comman-btn green-btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- join section end -->

<!-- unique section start -->
<section class="unique">
    <div class="inner-container">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="customber-block">
                    <h3>Each TriPoint Lending Customer Is Unique</h3>
                    <p>
                        That’s why we work with our lending partners to find personalized loan options that meet the needs of
                        each person. Whether they want to pay off high-rate debt balances with a consolidation loan, pay medical
                        bills, or take on some home repair projects, we believe that loans should help people achieve their
                        financial goals and cover life’s expenses.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="unique-people">
                    <picture>
                        <source type="image/webp" srcset="images/unique-people.webp">
                        <img src="images/unique-people.png" alt="unique" class="d-xxl-block d-xl-block d-lg-block d-md-none d-none img-fluid">
                    </picture>
                    <picture>
                        <source type="image/webp" srcset="images/unique-people-mobile.webp">
                        <img src="images/unique-people-mobile.png" alt="unique" class="d-xxl-none d-lg-none d-md-block d-none img-fluid">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- unique section end -->

<!-- our-possibilities start  -->
<section class="possibilities-section turn-tripoint">
    <div class="inner-container">
        <div class="possible-title your-self">
            <picture>
                <source type="image/webp" srcset="images/unique-people-mobile.webp">
                <img src="images/unique-people-mobile.png" alt="unique" class="d-md-none d-block img-fluid">
            </picture>
            <h2>Turn To TriPoint For:</h2>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>Fast, fair personal loan options</li>
                        <li>Funding within 48 hours after approval</li>
                        <li>Fixed rates and flexible repayment terms</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>A simple, secure process</li>
                        <li>No hidden fees or prepayment penalties</li>
                        <li>Convenient, no-hassle service</li>
                    </ul>
                </div>
            </div>
            <div class="d-flex join-btn justify-content-center">
                <a href="apply" class="comman-btn green-btn">Get Started</a>
            </div>
        </div>
    </div>
</section>
<!-- our-possibilities end  -->

<style asp-add-nonce="true">
.join-section {
    background-color: #e7f3fc;
    background-image: url('/images/Triangle-Pattern_TPL.webp');
    padding: 0 0 72px;
}


@@media (max-width: 1199px){
.unique .unique-people {
    top: 100px;
    right: 50px;
}
.unique .unique-people img {
    max-width: 450px;
}
}
@@media (max-width: 1399px) {
.unique .unique-people {
    top: 156px;
}
.unique .unique-people img {
    max-width: 500px;
}
}
@@media (max-width: 1499px){
.unique .unique-people {
    top: 40px;
}}
@@media (max-width: 1599px) {
.unique .unique-people {
    top: -30px;
    right: 40px;
}}
@@media (max-width: 1799px){
.unique .unique-people {
    right: 100px;
}}
.unique .unique-people {
    position: absolute;
    z-index: 99;
    top: -30px;
    right: 270px;
}
</style>