
 @using Microsoft.AspNetCore.Mvc.TagHelpers
 
 <section class="great-news news-details">
      <div class="custom-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-12">
              <div class="news-details text-center">
                  <h1 class="title m-0 blue-text">Thank You For Verifying Your Information. </h1>
              </div>
              <div class="custom-form ">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<style asp-add-nonce="true">
  
</style>