      <!-- page banner section desgin start -->
      <section class="faq-main pg-banner">
        <div class="comman-block">
          <div class="product-img">
            <div class="row m-0 justify-content-end">
                <div class="col-md-12 col-lg-7 p-0">
                  <div class="product-img top-img">
                    <div class="main-img">
                      <picture>
                        <source srcset="images/loan-banner.webp" type="image/webp"/>
                        <img src="images/loan-banner.png" alt="banner" class="img-fluid">
                      </picture>
                    </div>
                    <div class="about-tringle">
                      <picture>
                        <source srcset="images/grediant-shape.webp" type="image/webp"/>
                        <img src="images/grediant-shape.png" alt="about" class="img-fluid">
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="details-content">
              <div class="inner-container">
                <div class="row">
                  <div class="col-lg-5 col-md-12">
                    <div class="contact-detail faq-details">
                      <h1>Personal <br class="d-md-none d-block"> Loans</h1>
                      <h2 class="sub-title m-0">Apply for $5,000 <br>
                        up to $100,000</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <!-- page banner section desgin end -->
  
      <!-- our-possibilities start  -->
      <section class="possibilities-section">
        <div class="tirngle-shape">
          <picture>
            <source srcset="images/right-trinagle.webp" type="image/webp"/>
            <img src="images/right-trinagle.png" alt="right-trinagle" class="img-fluid">
          </picture>
          
        </div>
        <div class="container">
          <div class="possible-title">
            <div class="row justify-content-center">
              <div class="col-xxl-9  col-xl-10 col-lg-12 col-md-12">
                <div class="row justify-content-center">
                  <div class="col-lg-4 col-md-5">
                    <h2>Your Possibilities Are Our Priority.</h2>
                  </div>
                  <div class="col-lg-8 col-md-7">
                    <p>See what’s possible with a loan through TriPoint Lending. We can help you achieve your financial goals with financing options that have fixed rates, flexible terms and fast funding.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- our-possibilities end  -->
  
      <!-- easy loan section start -->
      <section class="loan-easy comman-bg">
        <div class="container">
            <div class="easy-details text-center">
              <h2 class="sub-title blue-text">We make finding the right loan easy.</h2>
              <p>Get the money you need and the benefits you want.</p>
              <div class="row">
                <div class="col-md-4">
                  <div class="easy-block your-self">
                      <img src="images/fast.svg" alt="fast" class="img-fluid">
                      <h3>FAST</h3>
                      <ul>
                        <li>Same-day approvals</li>
                        <li>Funds wired in 24-48 hours</li>
                      </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="easy-block your-self">
                    <img src="images/affortable.svg" alt="fast" class="img-fluid">
                    <h3>AFFORDABLE</h3>
                    <ul>
                      <li>No collateral required</li>
                      <li>Competitive interest rates</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="easy-block your-self">
                    <img src="images/simple.svg" alt="fast" class="img-fluid">
                    <h3>SIMPLE</h3>
                    <ul>
                      <li>Flexible repayment terms</li>
                      <li>Scheduled monthly payments</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <!-- easy loan section end -->
     
      <!-- life slider section start -->
      <section class="loan-easy life-block">
        <div class="easy-details text-center">
          <div class="live-content">
            <h2 class="sub-title green-text">Loans That Help You Live Life</h2>
            <p class="d-md-block d-none">In addition to having plans and goals, sometimes you have to handle surprise expenses. TriPoint Lending <br> is here to help you access the funds you need to cover a variety of needs, like:</p>
            <p class="d-md-none d-block"> Get the money you need and the benefits you want.</p>
          </div>
          <div class="slider-possible">
            <div class="slider-item text-center">
              <div class="cost-content">
                <picture>
                  <source srcset="images/moveing-cost.webp" type="image/webp"/>
                  <img src="images/moveing-cost.jpg" alt="moveing" class="img-fluid">
                </picture>
                
                <div class="item-content">
                  <h2 class="sub-title mb-0">Moving Costs</h2>
                  <p class="m-0 match">Make a move that’s less stressful. </p>
                </div>
              </div>
            </div>
            <div class="slider-item text-center">
              <div class="cost-content">
                <picture>
                  <source srcset="images/debt.webp" type="image/webp"/>
                   <img src="images/debt.jpg" alt="debt" class="img-fluid">
                </picture>
               
                <div class="item-content">
                  <h2 class="sub-title mb-0">Debt Consolidation</h2>
                  <p class="m-0 match">Pay off multiple debts and have one <br> easier monthly payment.</p>
                </div>
              </div>
            </div>
            <div class="slider-item text-center">
              <div class="cost-content">
                <picture>
                  <source srcset="images/bills.webp" type="image/webp"/>
                  <img src="images/bills.jpg" alt="debt" class="img-fluid">
                </picture>
             
                <div class="item-content">
                  <h2 class="sub-title mb-0">Credit Card Refinancing </h2>
                  <p class="m-0 match">Eliminate high-rate credit card balances <br> and save.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- life slider section end -->
  
  
      <!-- find-loan section start -->
      <!-- <section class="find-loan apply-section">
          <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="easy-apply comman-width">
                    <h2 class="section-title light-text">
                      We Make It Easy To Apply <br>
                      In Minutes:
                    </h2>
                    <ul>
                      <li>
                        <span>1</span>Check your loan options and <br>
                        available interest rate.
                      </li>
                      <li>
                        <span>2</span>Choose the loan that’s best for <br>
                        your needs.
                      </li>
                      <li>
                        <span>3</span>If approved, sign the loan <br>
                        agreement and get funds.
                      </li>
                    </ul>
                    <a href="#" class="comman-btn green-btn">Get Started</a>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>
          </div>
      </section> -->
      <div class="our-loan-mobile">
        <picture>
          <source srcset="images/our-loan-mob-img.webp" type="image/webp">
          <img src="images/our-loan-mob-img.png" alt="moible" class="img-fluid">
        </picture>
      </div>
      <div class="simple-tripoint loan-section  apply-section p-0">
        <div class="container-fluid p-0">
          <div class="row m-0 justify-content-between flex-md-row flex-column-reverse">
           
            <!-- <img src="images/loan-trinagle.png" alt="loan" class="img-fluid"> -->
            <div class="col-lg-6 col-md-12 p-0">
              <div class="trust-img">
                <div class="easy-apply comman-width">
                  <h2 class="section-title light-text">
                    Ready To Find Your Loan?
                  </h2>
                  <p>Our easy 3-step process just takes minutes:</p>
                  <ul>
                    <li>
                      <span>1</span>Check your loan options and <br>
                      available interest rate.
                    </li>
                    <li>
                      <span>2</span>Choose the loan that’s best for <br>
                      your needs.
                    </li>
                    <li>
                      <span>3</span>If approved, sign the loan <br>
                      agreement and get funds.
                    </li>
                  </ul>
                  <div class="get-stated">
                    <a href="apply" class="comman-btn green-btn">Get Started</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0 shape-img">
              <div class="loan-img">
                <picture>
                  <source srcset="images/loan-trinagle.webp" type="image/webp"/>
                     <img src="images/loan-trinagle.png" alt="loan" class="img-fluid">
                </picture>
             
              </div>
            </div>  
          </div>
        </div>
      </div>
      <!-- find-loan section end -->
<style asp-add-nonce="true">
   
</style>