@{
    ViewData["Title"] = "Get Started Now";
}

<div>
    @await Html.PartialAsync("Partials/_MainContent")
    @await Html.PartialAsync("Partials/_CustomerForm")
    @await Html.PartialAsync("Partials/_CustomerFooter")
</div>

