

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>New Haven Funding | @ViewData["Title"]</title>
    <meta name="description" content="Borrowers rely on New Haven for personal loans with a low fixed rate. Clear, upfront terms an easy, secure process, quick approval and next-day funding. No prepayment penalty">

    <link rel="stylesheet" href="/formhelper/formhelper.min.css" />
    <link as="style" href="/css/Poppins.css">
</head>
<body>

@await Html.PartialAsync("Partials/_Header")

<div>
    @RenderBody()
</div>

@await Html.PartialAsync("Partials/_Footer")

<!--<jl-javascript-logger-definitions/>-->
<script asp-add-nonce="true" src="js/jsnlog.min.js"></script>
<script asp-add-nonce="true" src="~/lib/jquery/dist/jquery.min.js"></script>
<script asp-add-nonce="true" src="/formhelper/formhelper.bundle.min.js"></script>

<script type="text/javascript" asp-add-nonce="true">
window.addEventListener("load", function () {
    JL.setOptions( { "defaultAjaxUrl": "/Log", "serialize":function (o) { return JSON.stringify(o); }});
        window.onerror = function (errorMsg, url, lineNumber, column, errorObj) {
            JL("onerrorLogger").fatalException({
                "msg": "Uncaught Exception",
                "errorMsg": errorMsg, "url": url,
                "line number": lineNumber, "column": column,
                "userAgent": navigator.userAgent,
                "os": navigator.userAgentData,
            }, errorObj);

            return false;
        }
});
</script>

@await RenderSectionAsync("Scripts", false)
</body>
<style asp-add-nonce="true">
  /*  body{
        font-family:'Poppins',sans-serif;
        font-size:12px;
        padding-top:0
        }*/
</style>
</html>