.career-banner {
    &::before {
        background-image: url(../images/career-bg.webp);
    }
}
.join-section {
    background-color: #E7F3FC;
    background-image: url(../images/Triangle-Pattern_TPL.webp);
    padding: 0 0 72px;
}
.join-people {
    clip-path: polygon(0 0, 80% 0%, 100% 91%, 0% 100%);
}

.people-details {
    margin-left: 100px;
    position: relative;
    padding: 84px 0 0;
    .tringle-shape {
        position: absolute;
        left: -420px;
        top: 60px;
        width: 327px;
        height: 281px;
    }
    p {
        font-size: 25px;
        line-height: 30px;
        a {
            color: $grey-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .join-btn {
        margin-top: 40px;
    }
}

@media (max-width:1499px) {
    .people-details {
        margin-left: 50px;
    }
}
@media (max-width:1199px) {
    .people-details {
        margin-left: 20px;
        width: 90%;
        padding: 20px 0 0;
    }
   .banner-sec.career-banner .banner-content {
        padding: 20px 0 0px;
        position: relative;
        top: 70px;
    }
    .banner-sec.career-banner::before {
        height: calc(100% - 280px);
    }
    .banner-sec.career-banner .goal-content {
        top: 400px;
    }
    .banner-sec.career-banner {
        padding: 0 0 250px;
    }
    .banner-sec.career-banner .goal-content {
        top: 180px;
        padding: 0;
    }
    .people-details .tringle-shape {
        left: -250px;
        top: 60px;
        width: 217px;
        height: 231px;
    }
  
}
@media (max-width:991px) { 
    .people-details .tringle-shape {
        display: none;
    }
    .banner-sec.career-banner::before {
        height: calc(100% - 325px);
    }
    .banner-sec.career-banner::after {
        height: 64%;
    }
    .banner-sec.career-banner .goal-content {
        padding: 20px 10px;
    }
    .banner-sec.career-banner {
        padding: 0 0 190px;
    }
    .banner-sec.career-banner .goal-content {
        top: 160px;
    }
    .join-people {
        display: none;
    }
    .join-section .people-details{
        padding: 50px 20px 0;
    }
    .join-section .people-details p {
        margin-left: 0 !important;
        font-size: 18px;
        line-height: 22px;
    }
    .banner-sec.career-banner .banner-section-tringle .tringle-banner {
        top: -50px;
        left: 71%;
        width: 210px;
    }
}
@media (max-width:767px) { 
    .banner-sec.career-banner .banner-section-tringle .tringle-banner {
        top: 120px;
        left: 61%;
        width: 160px;
    }
    .join-section .people-details{
        max-width: 340px;
        margin: 0 auto;
        width: 100%;
    }
    .banner-sec.career-banner .goal-content {
        max-width: 340px;
        margin: 0 auto;
    }
    .banner-sec.career-banner::after {
        height: 32%;
        clip-path: polygon(0 0, 100% 0, 100% 89%, 10% 100%, 0 83%);
    }
    .banner-sec.career-banner .banner-content {
        text-align: center;
        top: 10px;
    }
    .banner-sec.career-banner .banner-content h1 {
        display: block;
    }
    .banner-sec.career-banner .goal-content {
        top: 0;
    }
    .banner-sec.career-banner {
        padding: 0 0 30px;
    }
    
    .banner-sec.career-banner::before {
        background-image: none;
    }
}