.news-details {
    h3 {
        font-size: 30px;
        line-height: 35px;
        font-weight: normal;
        color: $grey-color;
        margin: 30px 0 22px;
        a {
            color: $grey-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
    p {
        font-size: 22px;
        line-height: 26px;
        margin: 9px 0 22px;
        a {
            color: $green-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
}
.custom-form {
    .slected-color {
        .selectric {
            .label {
               font-weight: $bold;
            }
        }
    }
    .bold-txt {
        font-weight: $bold;
    }
    h3 {
        color: $primary-color;
        font-size: 26px;
        line-height: 26px;
        font-weight: $bold;
        margin: 58px 0 20px;
    }
    .result-text {
        font-size: 18px;
        line-height: 22px;
        margin: 23px 0 20px;
    }
    .verify-btn {
        padding: 55px 0 0;
    }
    .form-check {
        .custom-label {
            font-weight: $bold;
        }
        label {
            font-size: 18px;
            line-height: 22px;
            // font-weight: $bold;
            margin-left: 12px;
        }
    }
    .inner-agree {
        padding: 0 20px;
    }
}
.result-btn {
    padding: 26px 0 0;
}
.back-btn {
    margin: 65px 0 0;
}
.congratulations {
    background: transparent linear-gradient(358deg, #E7F3FC 0%, #FFFFFF0D 100%);
    position: relative;
    &::after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../images/Triangle-Pattern_TPL.webp);
        z-index: -1;
    }
}
.great-news {
    .browse-btn {
        margin-bottom: 12px;
    }
    .custom-form {
        .click-verify {
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            margin: 0 10px;
            a {
                color: $grey-color;
            }
        }
        .confidence {
            color: $primary-color;
            font-size: 16px;
            line-height: 20px;
            margin: 54px auto 0;
            display: inline-block;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}
.statement-details {
    p {
        font-size: 22px;
        line-height: 26px;
    }
}
.question  {
    a {
        font-size: 22px;
        line-height: 26px;
        color: $primary-color;
        i {
            margin-right: 9px;
        }
    }
}
@media (max-width:1199px) {
    .custom-form {
        .verify-btn {
            padding: 38px 0 0;
        }
    } 
}
@media (max-width:991px) {
    .news-details {
        h3 {
            font-size: 22px;
            line-height: 26px;
        }
        p {
            font-size: 18px;
            line-height: 22px;
        }
    } 
    .custom-form {
        h3 {
            font-size: 22px;
            line-height: 26px;
            margin: 18px 0 20px;
        }
        .result-text {
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 5px;
        }
    } 
    .great-news {
        padding: 30px 8px 60px;
    }
}
@media (max-width:991px) {
    .custom-form {
        .inner-agree {
            padding: 0 0;
        }
    } 
    .result-btn {
        padding: 52px 0 0;
    }
    .back-btn {
        margin: 32px 0 0;
    }
    .statement-details {
        p {
            font-size: 16px;
            line-height: 18px;
        }
    } 
    .news-details {
        .title  {
            font-size: 35px;
            line-height: 40px;
        }
    }
    .great-news {
        .custom-form {
            .confidence {
                margin: 32px auto 0;
            }
        }
    }
}