<div class="customer-footer">
    <div class="customer-checkmark">
        <picture>
            <source type="image/webp" srcset="images/check-reverse.webp">
            <img alt="checkmark" src="images/check-reverse.png">
        </picture>
    </div>
    <p>We are reviewing your information.</p>
    <p>Your application is under review by one of our experts. We will reach out to you shortly with your options.
       You can expect an immediate response during regular business hours, or within 24 hours during weekends
       and holidays. If you’d like to speak to someone right away, please call 800-295-6112.</p>
</div>

<style asp-add-nonce="true">
    .customer-footer {
        height: 276px;
        background-color: #0054b6;
        position: relative;
        z-index: -1;
    }
    .customer-checkmark {
      padding-top: 26px;
      height: 73px;
      width: 101px;
      margin: 0 auto;
    }
    .customer-checkmark img {
        height: 73px;
        width: 101px;
    }
    .customer-footer p {
        text-align: center;
        color: #ffffff;
        padding: 16px;
    }
</style>