    <footer>
      <div div class="container">
        <div class="f-top">
          <div class="row justify-content-between align-items-center">
            <div class="col-xl-3 col-lg-2 col-md-6 h-100">
              <a href="#" class="f-logo d-block text-lg-center text-start">
                <picture>
                   <source type="image/webp" srcset="images/footer-logo.webp">
                  <img
                    src="images/footer-logo.png"
                    alt="logo"
                    class="img-fluid"/>
                  </picture>
              </a>
              <p class="d-md-none d-block copyright-footer">
                © 2023 TriPoint Lending, LLC. All Rights Reserved.
              </p>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 h-100">
              <div class="f-block">
                <div class="d-flex">
                  <ul class="f-list me-5">
                    <li><a href="personalloans">Personal Loans</a></li>
                    <li><a href="about-us">About Us</a></li>
                    <li><a href="faqs">FAQS</a></li>
                   <!-- <li><a href="#">Resources</a></li>-->
                   <li><a href="careers">Careers</a></li>
                   <li><a href="apply">Check My Offers</a></li>
                  </ul>
                  <ul class="f-list">
                    <li><a href="contact-us">Contact Us</a></li>
	                  <li><a href="privacy-policy">Privacy Policy</a></li>
	                  <li><a href="terms-conditions">Terms &<br/>Conditions</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 h-100">
              <div class="f-block">
                <h2>Accreditation</h2>
	              <a href="https://www.bbb.org/us/ca/irvine/profile/loans/tripoint-lending-1126-1000054419/#sealclick"><img
                  src="images/accreditation.svg"
                  alt="accreditation"
                  class="acc-img img-fluid"
                /></a>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="f-block">
                <h2>Social</h2>
                <p>Follow us today on:</p>
                <div class="socail-icon d-flex">
                  <div class="icon">
                    <a href="https://www.facebook.com/tplending/"><img src="images/facebook.svg" alt="fb" class="img-fluid" /></a> 
                  </div>
	                <div class="icon">
		                <a href="https://www.instagram.com/tplending/?hl=en"><img src="images/instagram.svg" alt="insta" class="img-fluid" /></a> 
	                </div>
	                <div class="icon">
		                <a href="https://www.linkedin.com/company/tplending"><img src="images/linkedin.webp" alt="linkedin" class="img-fluid" /></a> 
	                </div>
	                <div class="icon">
                    <a href="https://twitter.com/tplending/status/1473387954831769601?lang=en"><img src="images/twitter.webp" alt="twitter" class="img-fluid" /></a> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="f-bottom">
          <p>
         TriPoint Lending has its main office located at 2600 Michelson Drive, Ste 1500, Irvine, CA 92612.  Telephone Number <a href="tel:800-307-1789">800-307-1789</a>. CFL license 60DBO-79257. This site is directed at and made available to, persons in the continental U.S., Alaska, and Hawaii only.
          </p>
          <p>
        TriPoint Lending may perform credit checks in order to evaluate your eligibility. By submitting a request you are authorizing TriPoint Lending to independently verify the information you submitted and your creditworthiness. This service is not available in all states. This service does not constitute an offer or solicitation for loan products, which are prohibited by any state law. Void where prohibited.  Current annual percentage rates (APRs) range from 5.99% APR to 35.99% APR as of , with the lowest rates for the most creditworthy borrowers. Rates are subject to change daily. Minimum loan amount is $1,000.00. Maximum loan amount is $100,000.00. Not all will qualify for the maximum loan amount or the minimum interest rate.  APR/Interest Rates will vary depending on individual creditworthiness, among other factors like employment, income, and debt-to-income ratio.  Eligibility is not guaranteed. All loans may be subject to origination fees if permitted under applicable state law. We will never discriminate on the basis of race, color, religion, sex, marital status, national origin or ancestry.
          </p>
          <p>
            For additional loan options, please call
            <a href="tel:800-307-1789">800-307-1789</a>.
          </p>
          <p>© 2024 TriPoint Lending, LLC. All Rights Reserved.</p>
        </div>
      </div>
    </footer>

<style asp-add-nonce="true">

    footer {
    	 background-color: #f2f4f5;
    	 padding: 60px 0;
    	 position: relative;
    }
     footer::before {
    	 position: absolute;
    	 content: '';
    	 left: 0;
    	 right: 0;
    	 top: 0;
    	 height: 29px;
    	 width: 100%;
    	 background: transparent linear-gradient(91deg, #a3cd39 0%, #acd2ed 34%, #5f2f90 100%);
    	 box-shadow: 0px 3px 6px #194546 1A;
    }
     footer .f-list {
    	 margin: 0;
    	 padding: 0;
    	 list-style: none;
    }
    .copyright-footer {
            font-size: 15px;
        text-align: center;
        margin-top: 15px;
 	   color: #0a210f;
 	   display: block !important;
     }
    .me-5 {
    		margin-right: 2.0rem!important;
    	}
    footer .f-list li a {
        font-size: 16px;
        line-height: 20px;
        color: #0a210f;
        transition: all .3s ease-in-out;
        text-wrap: nowrap;
    }
     footer .f-block {
    	 padding: 18px 0 15px 19px;
    }
     footer .f-block h2 {
    	 font-size: 24px;
    	 color: #5f2f90;
    	 font-weight: 700;
    }
     footer .f-block p {
    	 font-size: 18px;
    }
     footer .acc-img {
    	 margin-top: 24px;
    }
     footer .icon {
    	 margin-right: 9px;
    }
     footer .icon:last-child {
    	 margin-right: 0;
    }
     footer .f-bottom {
    	 border-top: 1px solid #acd2ed;
    	 border-bottom: 1px solid #acd2ed;
    	 margin-top: 35px;
    	 padding: 20px 0;
    }
    footer .f-bottom p {
        font-size: 12px;
        line-height: 19px;
        text-align: center;
    }
   
     footer .f-bottom p a {
    	 color: #000;
    	 transition: all 0.5s ease-in-out;
    }
     footer .f-bottom p a:hover {
    	 color: #5f2f90;
    }
     footer .f-bottom p:last-child {
    	 margin: 0;
    }
     footer .f-top .row [class*=col-] {
    	 position: relative;
    }
     footer .f-top .row [class*=col-]::after {
    	 position: absolute;
    	 content: '';
    	 left: 0;
    	 right: 0;
    	 top: 0;
    	 bottom: 0;
    	 background-color: #acd2ed;
    	 width: 1px;
    	 height: 100%;
    	 overflow: hidden;
    }
     footer .f-top .row [class*=col-]:first-child::after {
    	 display: none;
    }
     @@media (max-width: 1499px) {
    	 footer .f-block {
    		 padding: 18px 0 15px 20px;
    	}
    }
     @@media (max-width: 1199px) {
    	 footer {
    		 padding: 95px 0 55px;
    	}
    	 footer .f-block {
    		 padding: 18px 0 15px 10px;
    	}
    }
     @@media (max-width: 991px) {
    	 footer {
    		 padding: 50px 0 55px;
    	}
    	 footer .f-top .row [class*=col-] {
    		 margin-bottom: 20px;
    	}
    	 footer .f-top .row [class*=col-]:nth-child(3)::after {
    		 display: none;
    	}
    	 footer .f-bottom {
    		 margin-top: 15px;
    		 padding: 10px 0 0;
    	}
    	 footer .f-block {
    		 padding: 18px 0 15px 0px;
    	}
    }
     @@media (max-width: 767px) {
    	 footer {
    		 padding: 32px 20px 30px;
    	}
    	 footer p {
    		 font-size: 12px;
    		 line-height: 17px;
    	}
    	 footer .f-top {
    		 padding: 40px 0px 10px;
    	}
    	 footer .f-top .f-logo img {
    		 width: 166px;
    	}
    	 footer .f-top .logo {
    		 text-align: center;
    		 display: flex;
    		 justify-content: center;
    	}
    	 footer .f-list {
    		 margin-right: 23px;
    	}
    	 footer .f-list:last-child {
    		 margin-right: 0;
    	}
    	 footer .f-bottom {
    		 margin-top: 0;
    		 padding: 21px 0px 21px;
    		 border-bottom: 1px solid #acd2ed;
    	}
    	 footer .f-block {
    		 margin-left: 0;
    		 padding: 21px 0 18px 10px;
    	}
    	 footer .f-block p {
    		 padding: 9px 0 0;
    	}
    	 footer .f-block h2 {
    		 margin: 0;
    	}
    	 footer .f-logo {
    		 margin-bottom: 18px;
    	}
    	 footer .f-top .row [class*=col-] {
    		 margin-bottom: 0;
    	}
    	 footer .f-top .row [class*=col-]::after {
    		 width: 100%;
    		 height: 1px;
    	}
    	 footer .f-top .row [class*=col-]:nth-child(3)::after {
    		 display: block;
    	}
    }
     
</style>