@{
    var formConfig = new FormConfig(ViewContext) {
        FormId = "CustomerForm",
        FormTitle = "Check Your Rate",
        BeforeSubmit = "CustomerFormBeforeSubmit",
        Callback = "CustomerFormCallback"
    };
    var loanAmtList = LoanAmountList.loanAmtList;
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TriPoint.Models.Const

@model TriPoint.Models.ShortCustomer

<div class="apply-section">
    <div class="container">
        <div class="apply-block">
            <div class="row m-0">
                <div class="col-md-6 d-flex justify-content-center p-0">
                    <div class="easy-apply comman-width ms-xl-5 ms-0">
                        <div class="apply-content">
                            <h2 class="section-title light-text">
                                We Make It Easy To Apply <br/>
                                In Minutes:
                            </h2>
                            <ul>
                                <li>
                                    <span>1</span>Check your loan options and <br/>
                                    available interest rate.
                                </li>
                                <li>
                                    <span>2</span>Choose the loan that’s best for <br/>
                                    your needs.
                                </li>
                                <li>
                                    <span>3</span>If approved, sign the loan <br/>
                                    agreement and get funds.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 p-0">
                    <div class="easy-quote">
                        <div class="custom-form">
                            <div class="quote-title">
                                <h2 class="mb-3">
                                    Get Started With A Quick And Easy Quote
                                </h2>
                                <p>
                                    <b>If you received an Offer Code </b> enter it below and select “Get My Quote.”
                                </p>
                            </div>
                            <form id="@formConfig.FormId" asp-formhelper="true" asp-dataType="FormData" asp-controller="Home" asp-action="SaveShort" enctype="multipart/form-data" formhelper>
                                <div class="custom-row">
                                    <input asp-for="Offer" type="text" class="form-control" placeholder=" ">
                                    <label class="form-label" asp-for="Offer">Offer code</label>
                                    <span asp-validation-for="Offer" class="text-danger offer-err"></span>
                                </div>
                                <div class="progress fetchhide">
                                  <div class="progress-bar progress-bar-striped progress-bar-animated fetchprogress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
                                </div>
                                <div id="emailHelp" class="offer-msg text-left ms-3">
                                    <b>No offer code?</b> Fill out the form below. All
                                    fields required.
                                </div>
                                <div class="custom-row form-group">
                                    <input asp-for="FirstName" type="text" class="form-control" placeholder=" ">
                                    <label class="form-label" asp-for="FirstName">First Name</label>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="custom-row form-group">
                                    <div class="form-group">
                                        <input asp-for="LastName" type="text" class="form-control" placeholder=" ">
                                        <label class="form-label" asp-for="LastName">Last Name</label>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="custom-row form-group">
                                    <input asp-for="Email" type="text" class="form-control" placeholder=" ">
                                    <label class="form-label" asp-for="Email">Email Address</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="custom-row form-group">
                                    <input asp-for="Phone" type="text" class="form-control" placeholder=" ">
                                    <label class="form-label" asp-for="Phone"></label>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="custom-row form-group">
                                    <input asp-for="LoanAmount" type="text" class="form-control" placeholder=" ">
                                    <label class="form-label" asp-for="LoanAmount">Loan Amount</label>
                                    <span asp-validation-for="LoanAmount" class="text-danger"></span>
                                </div>
                             
                                <div class="custom-row mb-2">
                                   @await Html.PartialAsync("Partials/_CloudflareTurnstile") 
                                </div>
                                
                                <button id="submit-verify" type="submit" class="comman-btn green-btn btn-submit-form">Get My Quote</button>
                                <p class="view-rate mb-0">
                                    By clicking ‘Get Your Quote’, you authorize – with
                                    respect to the telephone number provided above and any
                                    other telephone number associated or related to you that
                                    may be provided to us in the future — TRIPOINT LENDING LLC<sup>®</sup>
                                    can contact you by phone, text, email, mail, or by
                                    artificial or pre-recorded voice, even if you have
                                    listed yourself on any Do-Not-Call List. You also agree
                                    to our Privacy Policy and Terms of Use, and further
                                    agree that any person or entity contacting you pursuant
                                    to your consent here may use an automatic telephone
                                    dialing system, even if the telephone number you
                                    provided above (or any telephone number associated with
                                    you) is connected to a mobile phone and even if you
                                    might be charged for the call. Your consent to receive
                                    automated calls or text messages is not required for any
                                    purchase or availability of goods/services from
                                    TRIPOINT LENDING LLC<sup>®</sup>. If you do not consent, you may call
                                    us at <a href="tel:800-307-1789">800-307-1789</a> to
                                    continue your inquiry.
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style asp-add-nonce="true">
    .text-danger {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;
        height: 21px;
        display: block;
    }
    .fetchhide {
       display: none;
       margin-bottom: 12px;
       
    }
    .fetchprogress {
     width: 100%;
    }
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: var(--bs-progress-bar-color);
        text-align: center;
        white-space: nowrap;
        background-color: #572b85 !important;
        transition: var(--bs-progress-bar-transition);
    }
</style>

<script type="text/javascript" asp-add-nonce="true">

    var CustomerFormCallback = function (response, statusText, xhr, $form) {};
      var CustomerFormBeforeSubmit = function (rr, $form, options) {
            document.getElementById("submit-verify").disabled = true;
            $(".btn-submit-form").css("filter","grayscale(100%)");
            document.getElementById("submit-verify").innerHTML = "Verifying...";
          
        };
        var CustomerFormCallback = function (response, statusText, xhr, $form) {
            document.getElementById("submit-verify").disabled = false;
            $(".btn-submit-form").css("filter","grayscale(0)");
            document.getElementById("submit-verify").innerHTML = "Get My Quote";
     };
window.addEventListener("load", function () {
    $(document).ready(function(){
       const $form = $('#CustomerForm');
                                           
       $form.attr('formhelper')
       $form.attr('dataType', 'FormData');
       $form.attr('CheckTheFormFieldsMessage', 'Check the form fields.');
       $form.attr('redirectDelay', '0');
       $form.attr('beforeSubmit', 'CustomerFormBeforeSubmit');
       $form.attr('callback', 'CustomerFormCallback');
       $form.attr('enableButtonAfterSuccess', 'False');
       $form.attr('resetFormAfterSuccess', 'True');
       $form.attr('toastrPositionClass', 'formhelper-toast-top-right');

     
        $("input[name='Phone']").keyup(function() {
            $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d+)$/, "($1)$2-$3"));
        });
        $("input[name='Offer']").keyup(function() {
           if( $(this).val().length > 8) {
                 $(".fetchhide").css("display","flex");
               $.ajax({
                       url: "/home/GetPromotion?accessCode="+$(this).val()+"",
                       type: 'GET',
                       dataType: 'json', // added data type
                       success: function(res) {
                              if(res != null) {
                                    $(".offer-err").html("");
                                    $("input[name='FirstName']").val(res.firstName);
                                   $("input[name='LastName']").val(res.lastName);
                                   $(".fetchhide").css("display","none");
                               }
                             else {
                                     $(".fetchhide").css("display","none");
                                     $(".offer-err").html("Offer Code not found");
                              }
                             },
                              error: function (jqXHR, exception) {
                                     $(".offer-err").html("Offer Code not found");
                                   }
                   });
               
              }
        });
    });
});
</script>