<section class="banner-sec">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <div class="banner-content">
                    <h1>
                        Loans Made <br>
                        For Living
                    </h1>
                    <h2 class="sub-title">
                        Apply for $5,000 <br>
                        up to $100,000
                    </h2>
                    <div class="text-md-center text-start d-inline-block">
                        <a href="apply" class="comman-btn green-btn">Check My Rate</a>
                        <span>Won’t impact your <br> credit score</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-section-tringle">
        <picture>
            <source type="image/webp" srcset="images/banner-img.webp">
            <img src="images/banner-img.jpg" alt="banner" class="d-md-none d-block img-fluid">
        </picture>

        <div class="tringle-banner">
            <picture>
                <source type="image/webp" srcset="images/banner-tringle.webp">
                <img src="images/banner-tringle.png" alt="banner" class="img-fluid">
            </picture>

        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-xxl-8 col-xl-7 col-lg-7 col-md-12">
                <div class="goal-content">
                    <h3>Convenient Personal Loans That Get You To Your Goals.</h3>
                    <p class="m-0 white-txt">
                        TriPoint Lending provides access to simple online loans with
                        fast funding, so you can manage life’s expenses. We offer
                        fixed-rate solutions with set repayment terms and affordable
                        monthly payments to make borrowing better.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>