   <div class="goal-banner">
               <picture>
               <source type="image/webp" srcset="images/goal.webp">
               <img src="images/goal.png" alt="" class="goal-img">
               </picture>
             </div>
             <div class="experience-block">
               <div class="container">
                 <div class="row">
                   <div class="col-md-6 d-flex justify-content-center">
                     <div class="your-self mt-md-5 mt-0">
                       <h2 class="section-title blue-text">
                         Experience TriPoint for yourself:
                       </h2>
                       <ul>
                         <li>Funds wired in 24-48 hours</li>
                         <li>Transparent terms, no hidden fees</li>
                         <li>No collateral required</li>
                         <li>Scheduled monthly payments</li>
                         <li>Flexible repayment terms</li>
                         <li>Simple, secure process</li>
                       </ul>
                       <a href="#" class="comman-btn green-btn d-md-none d-block mt-3">Check My Rate</a>
                     </div>
                   </div>
                   <div class="col-md-6"></div>
                 </div>
               </div>
             </div>

