@await Html.PartialAsync("Partials/_BannerSection")
<div class="experience-section position-relative">
    @await Html.PartialAsync("Partials/_ExperienceSection")
    @await Html.PartialAsync("Partials/_ApplySection")
</div>
@await Html.PartialAsync("Partials/_TrustTripointSection")
@await Html.PartialAsync("Partials/_ReviewSection")