<!-- thousands section start -->
<div class="thousans-section">
<div class="container">
<div class="people-block text-white">
<div class="row align-items-center">
<div class="col-xl-6 col-lg-6">
    <div class="housands-people">
        <h2>Thousands Of People</h2>
        <p class="m-0">
            Have Worked With <br class="d-md-none d-block">
            TriPoint. See Why:
        </p>
        <span class="d-md-block d-none">
            Check us out for yourself.
        </span
        >
        <a href="apply" class="comman-btn green-btn d-md-flex d-none">
            Check My Offers
        </a
        >
    </div>
</div>
<div class="col-xl-5 col-lg-6">
<div class="people-slider">
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">
            <div class="people-img">
                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Deborah D.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>

                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/google.svg"
            alt="google"
            class="google img-fluid"/>
    </div>
    <p>
        “I was thrilled with the gentleman who helped me through
        everything. He explained in simple detail, and was very
        personable. My experience with him gave me the
        confidence in this company…” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">
            <div class="people-img">
                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Andrea A.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/google.svg"
            alt="google"
            class="google img-fluid"/>
    </div>
    <p>
        “I am very impressed with this company. It was quick and easy. The guy I talked to was so polite and very kind. He was very thorough in explaining everything and my options. I really enjoyed this experience” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">
            <div class="people-img">
                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Adam B.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/google.svg"
            alt="google"
            class="google img-fluid"/>
    </div>
    <p>
        “Made it so easy to help with my situation. They made it so easy and explained everything thoroughly. Highly recommend this company. And can't say enough good things about my rep. He is highly experienced and super friendly.” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">
            <div class="people-img">
                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Harry J.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/google.svg"
            alt="google"
            class="google img-fluid"/>
    </div>
    <p>
        “It was an unique pleasure dealing with the staff, as they were knowledgeable, helpful, presented options and most importantly courteous. If they were going to be a few minutes late in returning a call, I actually received a text stating such & scheduled another time convenient to me. I feel comfortable they will continue operating in this manner as they now have my business. I would use them again.” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">
            <div class="people-img">
                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">E.M.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/google.svg"
            alt="google"
            class="google img-fluid"/>
    </div>
    <p>
        “From the first conversation, I was very impressed. Each person I spoke, with from start to finish, was professional, knowledgeable, polite and mostly kind. I was given the financial help I needed and now I can take a deep breath and get back on track.” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">
            <div class="people-img">
                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Kevin G.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/google.svg"
            alt="google"
            class="google img-fluid"/>
    </div>
    <p>
        “They were GREAT!! He had multiple offers within minutes. Definitely would recommend.” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Richard L.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/google.svg"
            alt="google"
            class="google img-fluid"/>
    </div>
    <p>
        “My agent was awesome, got me a few offers and was kind and had a great personality. Thanks again ” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Jesse G.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/google.svg"
            alt="google"
            class="google img-fluid"/>
    </div>
    <p>
        “They were a pleasure to deal with. Upfront and honest, walked me through my options. So happy I came here! ” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Christine P.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/bbb.webp"
            alt="BBB"
            class="bbb img-fluid"/>
    </div>
    <p>
        “It was a very productive and wonderful experience. Your agents were very informative and helpful. I spoke with ****** and *****. Would like all to be like them. Thank you.” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Robert D.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/bbb.webp"
            alt="bbb"
            class="bbb img-fluid"/>
    </div>
    <p>
        “Good company if you want to find the best available option for your financial problems. They do what they say and my agent was great, helped me understand all the options that were there for me.” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Christina W. </h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/bbb.webp"
            alt="bbb"
            class="bbb img-fluid"/>
    </div>
    <p>
        “They helped relieve a lot of my financial stress!” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Denise R. </h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/bbb.webp"
            alt="bbb"
            class="bbb img-fluid"/>
    </div>
    <p>
        “**** was professional and patient with me, as I walked through the lending process.” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Edna D.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/bbb.webp"
            alt="bbb"
            class="bbb img-fluid"/>
    </div>
    <p>
        “The TriPoint Lending team was fantastic, very courteous, and patient. They were excellent communicators and customer friendly.” 
    </p>
</div>
<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Keith H.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/bbb.webp"
            alt="bbb"
            class="bbb img-fluid"/>
    </div>
    <p>
        “Very easy to work with. **** was professional and respectful. I'd recommend your company unequivocally.” 
    </p>
</div>

<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Carlos P.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/bbb.webp"
            alt="bbb"
            class="bbb img-fluid"/>
    </div>
    <p>
        “**** was very professional, helpful and attentive. He made sure I understood and explained everything to me. When I called and left a message he returned my call within 15 to 20 minutes or if he was with another client he would text or even call to let me know he received my message or text.” 
    </p>
</div>


<div class="slider-item">
    <div
        class="people-name d-flex justify-content-between align-items-center">
        <div class="start-details d-flex align-items-center">

            <div class="people-img">

                <picture>
                    <source type="image/webp" srcset="images/people-img.webp">
                    <img
                        src="images/people-img.png"
                        alt="people"
                        class="img-fluid"/>
                </picture>
            </div>
            <ul class="start-list">
                <h3 class="m-0">Tasha B.</h3>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
                <li>
                    <img
                        src="images/star.svg"
                        alt="google"
                        class="img-fluid"/>
                </li>
            </ul>
        </div>
        <img
            src="images/bbb.webp"
            alt="bbb"
            class="bbb img-fluid"/>
    </div>
    <p>
        “Very helpful and knowledgeable. Did not push me into anything. I actually enjoyed the conversation and learned some things.” <a href="https://www.bbb.org/us/ca/irvine/profile/loans/tripoint-lending-1126-1000054419 ">Read More</a>
    </p>
</div>


</div>
<span class="d-md-none d-block text-center">
    Check us out for yourself.
</span
>
<a href="apply" class="comman-btn green-btn d-md-none d-flex">
    Check My Rate
</a
>
</div>
</div>
</div>
</div>
</div>