<div class="simple-tripoint">
    <div class="container-fluid p-0">
        <div
            class="row m-0 justify-content-between flex-md-row flex-column-reverse">
            <div class="col-lg-6 col-md-7 p-0">
                <div class="trust-img">
                    <picture>
                        <source type="image/webp" srcset="images/trust-img.webp">
                        <img src="images/trust-img.png" alt="trust" class="img-fluid"/>
                    </picture>
                    <div class="light-shape">
                        <picture>
                            <source type="image/webp" srcset="images/light-blue-shape.webp">
                            <img
                                src="images/light-blue-shape.png"
                                alt="light-shape"
                                class="img-fluid"/>
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 p-0 shape-img">
                <div class="funding-block your-self comman-width">
                    <div class="funding-list">
                        <h2 class="section-title white-txt">
                            Trust In TriPoint — Simple <br/>
                            Funding Solutions For <br/>
                            Things Like: <br/> <br/>
                        </h2>
                        <ul>
                            <li>Debt consolidation</li>
                            <li>Credit card refinancing</li>
                            <li>Home improvements</li>
                            <li>Medical expenses</li>
                            <li>Travel</li>
                            <li>Wedding</li>
                            <li>Large purchases</li>
                            <li>Moving costs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>