@{
    ViewData["Title"] = "Home Page";
}

<div>
    @await Html.PartialAsync("Partials/_MainContent")
</div>

<style asp-add-nonce="true">

   @@media only screen and (min-width: 992px) and (max-width: 1192px) {
#banner-person{
    margin: 0 12px;

}
}
 @@media only screen and (min-width: 1798px) {
div#banner-person {
    margin: 9px 135px;
}
}
.angry-grid-btns {
   display: grid; 

   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
  
#item-0 {
    border-radius: 15px;
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 2;
   grid-column-end: 2; 
}
#item-1 {
   grid-row-start: 1;
   grid-column-start: 2;
   grid-row-end: 2;
   grid-column-end: 3;
}
.white-btn {
    background-color: white;
    color: #48246d;
    border: solid 2px #48246d;
    margin-left: 6px;
    font-size: 16px;
}

.cf-turnstile {
  /* text-align: center;*/
}
	.top-container {
		margin-bottom: 12px;
	}
	header.header-bg {
		background-color: rgba(255,255,255,1);
	}
    .banner-sec.career-banner {
    	 padding: 178px 0 250px;
    }
     .banner-sec.career-banner .banner-content {
    	 padding: 70px 0 0px;
    }
     .banner-sec.career-banner .goal-content {
    	 top: 200px;
    }
     .banner-sec.career-banner::before {
    	 background-image: url('images/join-team.webp');
    	 height: calc(100% - 255px);
    	 background-size: 71% auto;
    }
     .banner-sec.career-banner .banner-section-tringle .tringle-banner {
    	 top: -140px;
    	 left: 70%;
    	 width: 400px;
    	 transform: translate(-50%, -50%) rotate(45deg);
    	 opacity: 0;
    }
     .banner-section-tringle {
    	 position: relative;
    	 
    }
     .banner-section-tringle .tringle-banner {
    	 position: absolute;
    	 top: -500px;
    	 left: 75%;
    	 transform: translate(-50%, -50%);
    	  opacity: 0;
    }
     .banner-sec {
    	 background: rgba(0, 0, 0, 0) linear-gradient(98deg, #5f2f90 0%, #301848 100%);
    	 overflow: hidden;
    	 padding-top: 180px;
    	 position: relative;
    	 z-index: 0;
    }
     .banner-sec::after {
    	 content: '';
    	 position: absolute;
    	 width: 58vw;
    	 height: 100%;
    	 left: 0;
    	 top: 0;
    	 background-color: #fff;
    	 background-image: url('images/triangle-bg.webp');
    	 z-index: -1;
    	 clip-path: polygon(0 0, 100% 0, 40% 90%, 0 70%);
    	 z-index: 1;
    }
     .banner-sec::before {
    	 content: '';
    	 position: absolute;
    	 width: 100%;
    	 height: calc(100% - 288px);
    	 left: 0;
    	 top: 0;
    	 background-image: url('images/banner-img.webp');
    	 background-position: center right;
    	 background-size: 68% auto;
    	 background-repeat: no-repeat;
    	 z-index: -1;
    }
     .banner-sec .container {
    	 position: relative;
    	 z-index: 2;
    }
     .goal-content {
    	 position: relative;
    	 top: -50px;
    	 padding: 20px 0;
    }
     .goal-content h3 {
    	 color: #a3cd39;
    	 font-size: 32px;
    	 line-height: 45px;
    	 font-weight: 700;
    	 margin: 0 0 6px;
    }
     .goal-content p {
    	 font-size: 24px;
    	 line-height: 33px;
    }
    .banner-content {
        padding: 0px 0 118px;
    }
    
    .banner-content h1 {
        font-size: 42px;
        /*line-height: 53px;*/
        font-weight: normal;
        color: black;
        margin-top: 24px;
    }
     .banner-content h2 {
    	 margin: 0 0 6px;
    	 color: #0a210f;
    	 font-weight: normal;
    	 text-decoration: underline;
    }
     .banner-content h3 {
    	 color: #a3cd39;
    	 font-size: 32px;
    	 line-height: 45px;
    	 font-weight: 700;
    	 margin: 0 0 24px;
    }
     .banner-content p {
    	 font-size: 24px;
    	 line-height: 33px;
    	 color: #a3cd39;
    }
     .banner-content span {
    	 font-size: 14px;
    	 line-height: 24px;
    	 color: #14591d;
    	 display: inline-block;
    	 margin: 17px 0 0;
    }
     .housands-people {
    	 margin-left: 100px;
    }
     @@media only screen and (min-width: 3000px) {
    	 .banner-sec::after {
    		 clip-path: polygon(0 0, 90% 0, 50% 90%, 0 50%);
    	}
    }
     @@media only screen and (min-width: 4000px) {
    	 .banner-sec::after {
    		 clip-path: polygon(0 0, 85% 0, 65% 90%, 0 50%);
    	}
    }
     .banner-section {
    	 position: relative;
    	 background: transparent linear-gradient(98deg, #5f2f90 0%, #301848 100%);
    }
     .banner-section .banner-img img {
    	 width: 100%;
    }
     .banner-section::before {
    	 position: absolute;
    	 content: '';
    	 top: 0;
    	 left: 0;
    	 width: 100%;
    	 height: 100%;
    	 background-image: url('images/left-bg.webp');
    	 background-repeat: no-repeat;
    	 z-index: 9;
    }
     .banner-section .banner-content {
    	 position: absolute;
    	 top: 0;
    	 left: 0;
    	 right: 0;
    	 padding: 255px 0 0;
    	 z-index: 9;
    }
     .banner-section .banner-content h1 {
		font-size: 42px;
		line-height: 53px;
		font-weight: 700;
		color: #5f2f90;
		margin-top: 36px;
    }
     .banner-section .banner-content h2 {
    	 margin: 0 0 6px;
    	 color: #0a210f;
    }
     .banner-section .banner-content p {
    	 font-size: 18px;
    	 line-height: 24px;
    	 display: inline-block;
    	 color: #14591d;
    	 text-align: center;
    	 margin: 17px 0 0;
    }
     .banner-section .banner-bottom-content {
    	 position: relative;
    	 z-index: 999;
    	 padding: 37px 0 54px;
    }
     .banner-section .banner-bottom-content .goal {
    	 position: absolute;
    	 left: 50px;
    	 top: 0;
    	 z-index: 9;
    }
     .banner-section .banner-bottom-content .goal-content h3 {
    	 color: #a3cd39;
    	 font-size: 32px;
    	 line-height: 45px;
    	 font-weight: 700;
    	 margin: 0 0 24px;
    }
     .banner-section .banner-bottom-content .goal-content p {
    	 font-size: 24px;
    	 line-height: 33px;
    }
     .banner-img {
    	 position: relative;
    }
     .banner-img::after {
    	 position: absolute;
    	 content: '';
    	 top: 50%;
    	 left: 50%;
    	 background-image: url('images/light-shape.webp');
    	 background-size: cover;
    	 width: 600px;
    	 height: 516px;
    	 transform: translate(-50%, -50%);
    }
     .custom-form h2 {
    	 font-size: 32px;
    	 line-height: 1;
    	 font-weight: 700;
    }
     .custom-form .view-rate {
    	 font-size: 12px;
    	 line-height: 1.25;
    	 margin-top: 15px;
    	 font-weight: 300;
    }
     .custom-form .view-rate a {
    	 color: #000;
    }
     .easy-quote {
    	 background-color: #fff;
    	 padding: 30px 34px 35px;
    	 border-radius: 2px;
    	 box-shadow: 0px 3px 25px #000 29;
    	 width: 100%;
    	 margin-top: -540px;
    	 position: relative;
    	 z-index: 99;
    	 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    	 padding-bottom: 100px;
    }
     .easy-quote p {
    	 font-size: 18px;
    	 line-height: 22px;
    }
        .top-your-self ul {
            margin: 0;
            padding: 0;
            list-style: none;
            
        }
        .top-your-self ul li {
            font-size: 18px;
            line-height: 34px;
            margin: 0 0 0px;
            position: relative;
            padding-left: 24px;
        }
         .top-your-self ul li::before {
        	 position: absolute;
        	 content: '\f00c';
        	 left: 0;
        	 top: 0;
        	 width: 8px;
        	 height: 8px;
        	 font-weight: 700;
        	 color: #a3cd39;
        	 font-family: 'FontAwesome';
        }
        
    .your-self ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
    }
     .your-self ul li {
    	 font-size: 25px;
    	 line-height: 34px;
    	 margin: 0 0 5px;
    	 position: relative;
    	 padding-left: 40px;
    }
     .your-self ul li::before {
    	 position: absolute;
    	 content: '\f00c';
    	 left: 0;
    	 top: 0;
    	 width: 8px;
    	 height: 8px;
    	 font-weight: 700;
    	 color: #a3cd39;
    	 font-family: 'FontAwesome';
    }
     .experience-section {
    	 padding: 170px 0 0px;
    	 background-image: url('images/triangle-bg.webp');
    }
     .experience-section .goal-banner {
    	 position: absolute;
    	 top: -320px;
    	 left: 40px;
    }
     .experience-section .experience-block {
    	 padding: 0 0 60px;
    }
     .experience-section .goal-img img {
    	 width: 100%;
    	 height: 100%;
    	 object-fit: cover;
    }
     .apply-section {
    	 padding: 97px 0 155px;
    	 position: relative;
    	 background-image: url('images/blue-bg.webp');
    	 background-size: cover;
    }
     .apply-section .easy-apply .get-stated {
    	 margin-top: 45px;
    }
     .apply-section .easy-apply p {
    	 font-size: 25px;
    	 line-height: 34px;
    	 color: #fff;
    }
     .apply-section .easy-apply ul {
    	 margin: 25px 0 0;
    }
     .apply-section .easy-apply ul li {
    	 display: flex;
    	 align-items: center;
    	 position: relative;
    	 font-size: 25px;
    	 line-height: 31px;
    	 color: #fff;
    }
     .apply-section .easy-apply ul li span {
    	 font-size: 75px;
    	 line-height: 75px;
    	 color: #acd2ed;
    	 display: flex;
    	 justify-content: center;
    	 font-weight: 700;
    	 border-right: 1px solid #acd2ed;
    	 margin-right: 22px;
    	 padding-right: 10px;
    	 width: 49px;
    	 min-width: 49px;
    }
     .funding-block ul li {
    	 color: #fff;
    }
     .funding-block .funding-list {
    	 padding: 0 20px 60px 100px;
    	 position: relative;
    }
     .thousans-section {
    	 background-color: #384b3d;
    	 padding: 88px 0 133px;
    }
     .thousans-section .people-block h2 {
    	 font-size: 57px;
    	 line-height: 57px;
    	 font-weight: 700;
    }
     .thousans-section .people-block p {
    	 font-size: 32px;
    	 line-height: 55px;
    	 font-weight: 700;
    }
     .thousans-section .people-block span {
    	 font-weight: 600;
    	 font-size: 25px;
    	 line-height: 31px;
    	 display: inline-block;
    	 margin: 24px 0 21px;
    }
     .people-slider .slider-item {
    	 padding: 37px 46px;
    	 background-color: #0a210f;
    	 border-radius: 8px;
    }
     .people-slider .slider-item p {
    	 font-size: 18px;
    	 line-height: 24px;
    	 font-weight: 600;
    }
     .people-slider .slider-item p a {
    	 border-bottom: 1px solid #0095ff;
    	 color: #0095ff;
    }
     .people-slider .slider-item .people-name {
    	 margin-bottom: 28px;
    }
     .people-slider .slider-item .people-name .people-img {
    	 width: 58px;
    	 height: 58px;
    	 border-radius: 50%;
    	 margin-right: 25px;
    }
     .people-slider .slider-item .people-name > img {
    	 width: 100%;
    	 height: 100%;
    	 object-fit: cover;
    }
     .people-slider .slider-item .people-name h3 {
    	 font-size: 25px;
    	 line-height: 31px;
    	 font-weight: 600;
    }
     .people-slider .slider-item .people-name .google {
    	 width: 42px;
    	 height: 42px;
    }
   .people-slider .slider-item .people-name .bbb {
		 width: 128px;
		 height: 42px;
	}
     .start-list {
    	 margin: 0;
    	 padding: 0;
    	 list-style: none;
    }
     .start-list li {
    	 display: inline-block;
    	 margin-right: 3px;
    }
     .start-list li img {
    	 display: inline-block;
    }
     .simple-tripoint {
    	 position: relative;
    	 z-index: 99;
    	 background: #52671d;
    	 background: linear-gradient(to top, #52671d 0%, #a3cd39 100%);
    }
     .simple-tripoint .shape-img {
    	 position: relative;
    }
     .simple-tripoint .trust-img {
    	 position: relative;
    	 height: 100%;
    }
     .simple-tripoint .trust-img img {
    	 height: 100%;
    	 width: 100%;
    	 object-fit: cover;
    }
     .simple-tripoint .trust-img .light-shape {
    	 position: absolute;
    	 content: '';
    	 top: -100px;
    	 left: 50%;
    	 transform: translate(-50%, 0);
    	 overflow: visible;
    	 z-index: 99;
    }
     .simple-tripoint .funding-block {
    	 position: relative;
    }
     .simple-tripoint .shape-img {
    	 position: relative;
    }
     .simple-tripoint .shape-img::before {
    	 content: "";
    	 position: absolute;
    	 width: 110%;
    	 height: 125%;
    	 background-image: url('images/bg-green.webp');
    	 background-repeat: no-repeat;
    	 background-size: cover;
    	 right: 0;
    	 bottom: 0;
    	 clip-path: polygon(9% 0%, 100% 13%, 100% 100%, 0% 100%);
    	 margin-bottom: -1px;
    }
    	.banner-content h1 {
                		font-size: 42px ;
                		/*line-height: 57px;*/
                	}
                	.sub-title {
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 1.3;
                    }
                    .sub-title a {
                    	color:  black;
                    }
    
     @@media (max-width: 1799px) {
    	 .banner-sec.career-banner {
    		 padding: 178px 0 225px;
    	}
    	 .banner-section .banner-content {
    		 padding: 195px 0 0;
    		 z-index: 99;
    		 position: relative;
    	}
    	 .banner-section .banner-content br {
    		 display: none;
    	}
    	 .banner-section .banner-content h1 {
    		 font-size: 70px;
    		 line-height: 80px;
    		 font-weight: 700;
    		 color: #5f2f90;
    	}
    	 .banner-section::before {
    		 width: 70%;
    		 background-size: contain;
    	}
    }
     @@media (max-width: 1499px) {
       .sub-title {
           font-weight: 700;
           font-size: 23px;
           line-height: 1.3;
       }
    	 .housands-people {
    		 margin-left: 70px;
    	}
    	 .thousans-section .people-block .housands-people p {
    		 font-size: 30px;
    		 line-height: 52px;
    	}
    	 .banner-sec.career-banner {
    		 padding: 0;
    	}
    	 .banner-sec.career-banner .goal-content {
    		 top: -20px;
    	}
    	 .banner-sec.career-banner .banner-section-tringle .tringle-banner {
    		 top: -210px;
    		 left: 70%;
    		 width: 300px;
    		  opacity: 0;
    	}
    	
    .banner-sec::after {
        width: 64vw;
    }
    	 .banner-content {
    		 padding: 0px 0 150px;
    	}
    	 .goal-content {
    		 top: -10px;
    	}
    	 .banner-sec {
    		 padding-top: 0;
    	}
    	 .experience-section .goal-banner img {
    		 width: 80%;
    	}
    	 .banner-section .banner-content {
    		 padding: 140px 0 0 40px;
    	}
    	 .banner-section .banner-bottom-content .goal {
    		 width: 40%;
    	}
    	 .banner-section .banner-bottom-content .goal-content h3 br {
    		 display: none;
    	}
    }
     @@media (min-width: 991px) and (max-width: 1192px) {
             .banner-sec::after {
                 width: 70vw;
             }
             }
     @@media (max-width: 1200px) {

    	 .banner-sec.career-banner .banner-section-tringle .tringle-banner {
    		 top: -80px;
    		 left: 70%;
    		 width: 300px;
    		  opacity: 0;
    	}
    	.banner-sec::after {
            height: 85%;
        }
    	 .housands-people {
    		 margin-left: 0;
    	}
    	 .easy-quote {
    		 margin-top: -490px;
    		 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    	}
    	 .goal-content h3 {
    		 margin: 0 0 10px;
    	}
    	 .banner-section-tringle .tringle-banner {
    		 top: -360px;
    		 left: 77%;
    		  opacity: 0;
    	}
    	 .goal-content {
    		 top: 80px;
    		 padding: 0 0 100px;
    	}
    	 .banner-content {
    		 padding: 10px 0 0;
    	}
    	 .banner-content h1 {
    		 font-size: 60px;
    		 line-height: 60px;
    	}
    	.banner-sec h1 {
            font-size: 35px;
            line-height: 40px;
        }
        .top-your-self ul li {
            font-size: 14px;
            line-height: 24px;
            margin: 0 0 0;
            position: relative;
            padding-left: 24px;
        }
    	 .banner-section .banner-content {
    		 padding: 40px 0 0;
    	}
    	.sub-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
        }
    	 .banner-section .banner-content h1 {
    		 font-size: 60px;
    		 line-height: 70px;
    	}
    	 .banner-section .banner-img::after {
    		 position: absolute;
    		 content: "";
    		 top: 50%;
    		 left: 50%;
    		 background-image: url('images/light-shape.png');
    		 background-size: cover;
    		 width: 380px;
    		 height: 386px;
    		 transform: translate(-50%, -50%);
    	}
    	 .banner-section .banner-bottom-content .goal-content h3 {
    		 font-size: 28px;
    		 line-height: 34px;
    	}
    	 .banner-section .banner-bottom-content .goal-content p {
    		 font-size: 19px;
    		 line-height: 27px;
    	}
    	 .easy-quote::after {
    		 border-width: 40px 238px;
    	}
    	 .experience-section {
    		 padding: 50px 0 0px;
    	}
    	 .experience-section .goal-banner {
    		 width: 40%;
    	}
    	 .custom-form .view-rate {
    		 padding: 0 0 60px;
    	}
    	 .thousans-section .people-block h2 {
    		 font-size: 38px;
    		 line-height: 42px;
    	}
    	 .thousans-section .people-block p {
    		 font-size: 22px;
    		 line-height: 25px;
    	}
    	 .thousans-section .people-block span {
    		 font-size: 20px;
    		 line-height: 27px;
    		 margin: 15px 0 15px;
    	}
    	 .people-slider .slider-item {
    		 padding: 25px 22px 25px 23px;
    	}
    	 .people-slider .slider-item p {
    		 font-size: 16px;
    		 line-height: 22px;
    	}
    	 .people-slider .slider-item .people-name .people-img {
    		 width: 46px;
    		 height: 46px;
    		 margin-right: 15px;
    	}
    	 .custom-form h2 {
    		 font-size: 31px;
    	}
    	 .apply-section {
    		 padding: 97px 0 80px;
    	}
    	 .funding-block .funding-list .section-title {
    		 font-size: 28px;
    		 line-height: 36px;
    	}
    	 .funding-block .funding-list .section-title br {
    		 display: none;
    	}
    	 .your-self ul li {
    		 font-size: 20px;
    		 line-height: 28px;
    		 padding-left: 27px;
    		 font-weight: bold;
    	}
    	
    	 .goal-content {
    		 top: 80px;
    	}
    }
   
     @@media (max-width: 992px) {
     .angry-grid-btns {
        display: grid; 
     
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        
        gap: 0px;
        height: 100%;
        
     }
       
   #item-0 {
   border-radius: 15px;
       grid-row-start: 1;
       grid-column-start: 1;
       grid-row-end: 2;
       grid-column-end: 2;
       height: 50px;
       margin: 0;
   }
#item-1 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    margin: 0;
    margin-top: 6px;
    height: 56px;
}
    	 .thousans-section .people-block .housands-people p {
    		 font-size: 32px;
    		 line-height: 37px;
    	}
    	 .housands-people {
    		 margin: 0 auto;
    		 text-align: center;
    	}
    	 .housands-people .green-btn {
    		 margin: 0 auto;
    	}
 .banner-sec::after {
     width: 89vw;
 }
    	 .banner-sec::before {
    		 background-size: 78% auto;
    	}
   .banner-sec::after {
       height: 74%;
   }
    .banner-content h2 {
         margin: 0px 0 0px;
     }
     .top-your-self ul li {
         font-size: 14px;
         line-height: 26px;
         margin: 0 0 0;
         position: relative;
         padding-left: 24px;
     }
     .sub-title {
         font-weight: 700;
         font-size: 18px;
         line-height: 1.3;
     }
    	 .banner-content {
    		 padding: 8px 0 0;
    	}
    	 .banner-content h2 {
    		 margin: 0 0 15px;
    	}
    	 .banner-section-tringle .tringle-banner {
    		 top: -270px;
    		 left: 77%;
    		  opacity: 0;
    	}
    	 .goal-banner {
    		 display: none;
    	}
    	 .simple-tripoint .shape-img::before {
    		 width: 134%;
    	}
    	 .funding-block .funding-list {
    		 padding: 0 5px 20px 35px;
    	}
    	.banner-content h1 {
            font-size: 26px;
            line-height: 32px;
            margin-top: 0;
        }
    	 .apply-section .easy-apply ul li br {
    		 display: none;
    	}
    	 .banner-section .banner-bottom-content {
    		 padding: 17px 0 24px;
    	}
    	 .banner-section .banner-bottom-content .goal {
    		 left: 20px;
    		 width: 47%;
    	}
    	 .banner-section .banner-content {
    		 padding: 20px 0 0 20px;
    	}
    	 .banner-section .banner-content h2 {
    		 margin: 0 0 20px;
    	}
    	 .banner-section .banner-content h1 {
    		 font-size: 40px;
    		 line-height: 45px;
    	}
    	 .banner-section .banner-img::after {
    		 position: absolute;
    		 content: "";
    		 top: 50%;
    		 left: 50%;
    		 background-image: url('images/light-shape.png');
    		 background-size: cover;
    		 width: 260px;
    		 height: 266px;
    		 transform: translate(-50%, -50%);
    	}
    	 .custom-form h2 {
    		 font-size: 26px;
    		 line-height: 1;
    	}
    	 .easy-quote {
    		 padding: 30px 24px 35px;
    		 margin-top: -430px;
    		 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    	}
    	 .easy-quote::after {
    		 border-width: 30px 178px;
    		 bottom: -60px;
    	}
    	 .apply-section {
    		 padding: 57px 0 100px;
    	}
    	 .apply-section .easy-apply ul li {
    		 font-size: 20px;
    		 line-height: 27px;
    	}
    	 .thousans-section {
    		 padding: 48px 0 67px;
    	}
    	 .people-slider {
    		 margin: 40px 0 60px;
    	}
    	 .loan-section .shape-img {
    		 position: absolute;
    	}
    }
     @@media (max-width: 767px) {
    	 .thousans-section .people-block .housands-people p {
    		 font-size: 22px;
    		 line-height: 25px;
    	}
    	 .goal-content {
    		 padding: 28px 0px 18px;
    	}
    	 .goal-content h3 {
    		 font-size: 22px;
    		 line-height: 25px;
    		 margin: 0 0 10px;
    	}
    	 .goal-content p {
    		 font-size: 16px;
    		 line-height: 21px;
    	}
    	 .banner-section-tringle .tringle-banner {
    		 top: 100px;
    		 left: 190px;
    		 width: 50%;
    		  opacity: 0;
    	}
    	 .banner-sec {
    		 padding: 15px 0 0;
    	}
    	.banner-sec::after {
            width: 100%;
            -webkit-clip-path: polygon(0 0,100% 0,100% 89%,18% 100%,0 76%);
            clip-path: polygon(0 0,100% 0,100% 89%,20% 100%,0 83%);
            height: 504px;
        }
    	.banner-sec h1 {
    	font-weight: normal;
            font-size: 28px;
            margin-top: 0;
            color: black;
        }
        .banner-sec nobr {
        	white-space: normal;
        }
    	 .banner-sec .banner-content {
    		 padding: 0 0 20px 0px;
    	}
    	 .banner-sec .banner-content h1 br, .banner-sec .banner-content span br {
    		 display: none;
    	}
    	 .banner-sec .banner-content h2 {
    		 margin: 0 0 20px;
    	}
    	 .goal-content {
    		 top: 0;
    	}
    	 .banner-section .banner-img::after {
    		 width: 195px;
    		 height: 168px;
    	}
    	 .banner-section::before {
    		 height: 413px;
    		 background-size: cover;
    	}
    	 .banner-section::before {
    		 width: 100%;
    		 background-image: url('images/mobile-banner-bg.webp');
    		 background-position: 100% 100%;
    		 background-size: cover;
    	}
    	 .banner-section .banner-content {
    		 padding: 12px 0 0 30px;
    	}
    	 .banner-section .banner-content h1 {
    		 margin: 0 0 9px;
    	}
    	 .banner-section .banner-content p {
    		 margin: 13px 0 0;
    		 font-size: 16px;
    		 line-height: 20px;
    	}
    	 .banner-section .banner-bottom-content {
    		 padding: 28px 28px 18px;
    	}
    	 .banner-section .banner-bottom-content .goal-content h3 {
    		 font-size: 22px;
    		 line-height: 25px;
    	}
    	 .banner-section .banner-bottom-content .goal-content p {
    		 font-size: 16px;
    		 line-height: 21px;
    	}
    	 .banner-section .banner-bottom-content .goal {
    		 display: none;
    	}
    	 .easy-quote {
    		 margin-top: 0;
    	}
    	 .easy-quote::after {
    		 border-width: 30px 270px;
    		 bottom: -60px;
    	}
    	 .easy-quote p {
    		 font-size: 18px;
    		 line-height: 19px;
    	}
    	 .experience-section {
    		 padding: 34px 0 80px;
    	}
    	 .experience-section .experience-block {
    		 padding: 0 0 40px;
    	}
    	 .your-self {
    		 padding: 0 7px;
    	}
    	 .your-self ul {
    		 margin: 20px 0 0;
    	}
    	 .your-self ul li {
    		 font-size: 18px;
    	}
    	 .funding-block {
    		 padding: 54px 35px 50px;
    	}
    	 .funding-block .funding-list {
    		 padding: 0 5px 20px 40px;
    	}
    	 .funding-block .funding-list .section-title {
    		 font-size: 22px;
    		 line-height: 25px;
    	}
    	 .simple-tripoint .trust-img {
    		 clip-path: unset;
    	}
    	 .simple-tripoint .trust-img > img {
    		 height: 252px;
    		 width: 100%;
    	}
    	 .simple-tripoint .trust-img .light-shape {
    		 width: 200px;
    		 top: -30px;
    	}
    	 .easy-apply {
    		 padding: 88px 0px 88px;
    		 background: transparent linear-gradient(265deg, #5f2f90 0%, #301848 100%);
    	}
    	 .easy-apply .apply-content {
    		 max-width: 340px;
    		 margin: 0 auto;
    		 padding: 0 15px;
    	}
    	 .easy-apply .section-title {
    		 font-size: 20px;
    		 line-height: 25px;
    	}
    	 .apply-section {
    		 padding: 0px 0px 0px;
    		 background-image: none;
    		 clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
    	}
    	 .apply-section .container {
    		 width: 100%;
    		 max-width: 100%;
    		 padding: 0;
    	}
    	 .apply-section .easy-apply ul li {
    		 font-size: 18px;
    		 line-height: 22px;
    	}
    	 .custom-form h2 {
    		 font-size: 22px;
    	}
    	 .housands-people {
    		 text-align: center;
    	}
    	 .people-slider .slider-item .people-name h3 {
    		 font-size: 18px;
    		 line-height: 31px;
    	}
    	 .thousans-section .people-block span {
    		 margin: 15px 0 20px;
    	}
    	 .simple-tripoint {
    		 clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
    		 background: transparent linear-gradient(265deg, #5f2f90 0%, #301848 100%) 0% 0% no-repeat padding-box;
    		 box-shadow: 0px 3px 6px #194546 1A;
    		 margin-top: -150px;
    		 padding: 35px 0 0;
    	}
    	 .simple-tripoint .shape-img::before {
    		 width: 110%;
    		 height: 100%;
    		 clip-path: polygon(20% 0%, 100% 8%, 100% 100%, 0% 100%);
    	}
    }
     @@media (max-width: 576px) {
    	 .easy-quote::after {
    		 border-width: 30px 160px;
    	}
    	 .funding-block .funding-list {
    		 padding: 0 5px 20px 25px;
    	}
    	.banner-sec::after {
            width: 100%;
            -webkit-clip-path: polygon(0 0,100% 0,100% 89%,18% 100%,0 76%);
            clip-path: polygon(0 0,100% 0,100% 89%,20% 100%,0 83%);
            
        }
    }
     @@media (max-width: 355px) {
    	.banner-sec::after {
    		height: 665px;
    	}
    }
     
</style>