    <!-- great-news section start -->
       <section class=" great-news congratulations">
         <div class="custom-padding">
           <div class="container">
             <div class="row justify-content-center">
               <div class="col-xl-10 col-lg-12 col-md-12">
                 <div class="news-details text-center">
                     <h1 class="title m-0 blue-text">Congratulations! </h1>
                     <h3>A loan specialist will call you shortly to review your offer. <br class="d-lg-block d-none"> <b>If you need immediate assistance, please call <a href="tel:(877) 800-5343">(877) 800-5343.</a></b></h3>
                     
                     <div class="d-flex justify-content-center">
                       <a href="/" class="comman-btn blue-outline back-btn">Back</a>
                     </div>
     
                 </div>
                 
               </div>
             </div>
           </div>
         </div>
       </section>
       <!-- great-news section end -->

   
<style asp-add-nonce="true">
	.custom-padding {
        padding: 178px 0 90px !important;
	}
   .news-details h3 {
   	 font-size: 30px;
   	 line-height: 35px;
   	 font-weight: normal;
   	 color: #0a210f;
   	 margin: 30px 0 22px;
   }
    .news-details h3 a {
   	 color: #0a210f;
   }
    .news-details h3 a:hover {
   	 color: #5f2f90;
   }
    .news-details p {
   	 font-size: 22px;
   	 line-height: 26px;
   	 margin: 9px 0 22px;
   }
    .news-details p a {
   	 color: #384b3d;
   }
    .news-details p a:hover {
   	 color: #5f2f90;
   }
    .custom-form .slected-color .selectric .label {
   	 font-weight: 700;
   }
    .custom-form .bold-txt {
   	 font-weight: 700;
   }
    .custom-form h3 {
   	 color: #5f2f90;
   	 font-size: 26px;
   	 line-height: 26px;
   	 font-weight: 700;
   	 margin: 58px 0 20px;
   }
    .custom-form .result-text {
   	 font-size: 18px;
   	 line-height: 22px;
   	 margin: 23px 0 20px;
   }
    .custom-form .verify-btn {
   	 padding: 55px 0 0;
   }
    .custom-form .form-check .custom-label {
   	 font-weight: 700;
   }
    .custom-form .form-check label {
   	 font-size: 18px;
   	 line-height: 22px;
   	 margin-left: 12px;
   }
    .custom-form .inner-agree {
   	 padding: 0 20px;
   }
    .result-btn {
   	 padding: 26px 0 0;
   }
    .back-btn {
   	 margin: 65px 0 0;
   }
   
    .congratulations {
   	background: rgba(0,0,0,0) linear-gradient(358deg, #E7F3FC 0%, rgba(255, 255, 255, 0.0509803922) 100%);
   	 position: relative;
   }
    .congratulations::after {
   	 position: absolute;
   	 content: '';
   	 top: 0;
   	 bottom: 0;
   	 left: 0;
   	 right: 0;
   	 background-image: url('images/Triangle-Pattern_TPL.webp');
   	 z-index: -1;
   }
    .great-news .browse-btn {
   	 margin-bottom: 12px;
   }
    .great-news .custom-form .click-verify {
   	 text-align: center;
   	 font-size: 18px;
   	 line-height: 22px;
   	 margin: 0 10px;
   }
    .great-news .custom-form .click-verify a {
   	 color: #0a210f;
   }
    .great-news .custom-form .confidence {
   	 color: #5f2f90;
   	 font-size: 16px;
   	 line-height: 20px;
   	 margin: 54px auto 0;
   	 display: inline-block;
   	 display: flex;
   	 justify-content: center;
   	 text-align: center;
   }
    .statement-details p {
   	 font-size: 22px;
   	 line-height: 26px;
   }
    .question a {
   	 font-size: 22px;
   	 line-height: 26px;
   	 color: #5f2f90;
   }
    .question a i {
   	 margin-right: 9px;
   }
    @@media (max-width: 1199px) {
   	 .custom-form .verify-btn {
   		 padding: 38px 0 0;
   	}
   }
    @@media (max-width: 991px) {
   	 .news-details h3 {
   		 font-size: 22px;
   		 line-height: 26px;
   	}
   	 .news-details p {
   		 font-size: 18px;
   		 line-height: 22px;
   	}
   	 .custom-form h3 {
   		 font-size: 22px;
   		 line-height: 26px;
   		 margin: 18px 0 20px;
   	}
   	 .custom-form .result-text {
   		 font-size: 16px;
   		 line-height: 20px;
   		 margin: 0 0 5px;
   	}
   	 .great-news {
   		 padding: 30px 8px 60px;
   	}
   }
    @@media (max-width: 991px) {
   	 .custom-form .inner-agree {
   		 padding: 0 0;
   	}
   	 .result-btn {
   		 padding: 52px 0 0;
   	}
   	 .back-btn {
   		 margin: 32px 0 0;
   	}
   	 .statement-details p {
   		 font-size: 16px;
   		 line-height: 18px;
   	}
   	 .news-details .title {
   		 font-size: 35px;
   		 line-height: 40px;
   	}
   	 .great-news .custom-form .confidence {
   		 margin: 32px auto 0;
   	}
   }
    
</style>