 <!-- page banner section desgin start -->

    <section class="faq-main pg-banner">
      <div class="comman-block">
        <div class="product-img">
          <div class="row m-0 justify-content-end">
              <div class="col-md-12 col-lg-7 p-0">
                <div class="product-img top-img">
                  <div class="main-img">
                    <picture>
                      <source srcset="images/faq-banner.webp" type="image/webp"/>
                      <img src="images/faq-banner.jpeg" alt="product" class="img-fluid">
                    </picture>
                  </div>
                  <div class="about-tringle">
                    <picture>
                      <source srcset="images/grediant-shape.webp" type="image/webp"/>
                      <img src="images/grediant-shape.png" alt="about" class="img-fluid">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="details-content">
            <div class="inner-container">
              <div class="row">
                <div class="col-lg-5 col-md-12">
                  <div class="contact-detail faq-details">
                    <h1>Answers To Some Frequently Asked Questions</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="faq-section">
        <div class="inner-container">
          <div class="row justify-content-between">
            <div class="col-lg-6 col-md-12">
              <div class="me-lg-5">
                <div class="faq-block">
                    <h2>Why should I get a loan through TriPoint Lending instead of carrying a balance on my credit card?</h2>
                    <p>TriPoint Lending offers access to low rates with a fixed payment schedule, so you know exactly when you will pay off your consolidated debt. With loans through TriPoint Lending, your interest rate is FIXED. Most credit card rates are variable, meaning they increase as the Prime rate increases. Lock in a FIXED rate today, the Fed may raise rates again soon.</p>
                </div>
                <div class="faq-block">
                    <h2>Is collateral required?</h2>
                    <p>No collateral is required or accepted for a loan through TriPoint Lending.</p>
                </div>
                <div class="faq-block">
                    <h2>Are there penalties for early payment of my loan?</h2>
                    <p>There are no fees or penalties for early payment of your loan. You only pay interest on your loan on the outstanding balance, so early payment will also reduce your interest charges. Any fees already paid, including origination fees, will not be refunded.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="faq-block">
                <h2>Does pre-approved mean I’m guaranteed approval?</h2>
                <p>We used information contained in your credit report to determine that you satisfied certain criteria for creditworthiness in conjunction with this offer. If, after you respond to this offer, it is determined that you no longer satisfy those criteria, credit may not be extended to you. This can happen if your credit score has recently decreased. Additionally, we don’t have your income information until you apply for a loan. Credit may not be extended to you if you do not have sufficient income to support your loan payments.</p>
              </div>
              <div class="faq-block">
                <h2>What will my interest rate be?</h2>
                <p>Your custom interest rate and loan amount will be determined by a variety of factors including but not limited to, your credit history, your income, and your ability to repay the loan.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- page banner section desgin end -->

    <!-- additional section start -->
    <section class="additional">
        <div class="inner-container position-relative">
          <div class="call-details">
            <div class="row">
              <div class="col-xxl-8 col-xl-6 col-lg-6 col-md-12">
                <div class="additional-block">
                  <p><span class="d-md-inline d-block mb-md-0 mb-2"><b>Have Additional Questions?</b></span> Give Us A Call At <a href="tel:(800) 307-1789">(800) 307-1789</a>.</p>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-4">
                <div class="images-group">
                  <div class="lady-img">
                    <picture>
                      <source srcset="images/call-lady.webp" type="image/webp"/>
                      <img src="images/call-lady.png" alt="questiona" class="img-fluid">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- additional section end -->


<style asp-add-nonce="true">
   
</style>