
    <!-- great-news section start -->
    <section class="great-news congratulations" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
             xmlns="http://www.w3.org/1999/html">
      <div class="custom-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-12">
              <div class="terms-section">
                <div class="position-relative">
                  <h1 class="title blue-text">Privacy Policy</h1>
                  <div class="sidebar-scroll" id="scrollbar">
                    <div class="terms-details">
                        <p><b>Last updated: January 31, 2024</b></p>
                        <p>Please note that all calls with the company may be recorded or monitored for quality assurance and training purposes.</p>
                        <p>This Online Privacy Policy applies to www.TriPointLending.com, owned and operated by TriPoint Lending, LLC (sometimes referred to as “Company” or “TPL”)), and any Company affiliate or subsidiary online interface that links to this Policy, (each, a “Site,” and collectively, the “Sites”). This Policy describes how TriPoint Lending, LLC collects and uses the Personal Information you provide. It also describes the choices available to you regarding the use of, your access to, and how to update and correct your Personal Information. TPL provides consumers with debt resolution services; such services will require Personal Information from you to perform the requested services. Please also see our Terms and Conditions: <a href="https://tripointlending.com/terms-conditions">https://tripointlending.com/terms-conditions</a>.</p>
                        <p><b>Agreement to this Policy:</b> By using this Site you consent to this Online Privacy Policy, including your consent to our use and disclosure of information about you in the manner described herein.</p>
                        <p>If you have an unresolved privacy or data use concern that we have not addressed satisfactorily, please contact us at <a href="mailto:marketing@tplend.com">marketing@tplend.com</a>.</p>
                        <p><b>Collection and Use of Personal Information</b> We collect the following personal information from you:</p>
                        <ul class="list-disc">
                        <li>Contact Information such as name, email address, mailing address, phone number.</li>
                        </ul>                        
                        <p>We collect this information when you:</p>
                        <ul class="list-disc">
                            <li>Sign up for our newsletter or email list; or</li>
                            <li>Contact us with questions or request more information about our products or services.</li>
                        </ul>
                        <p>We use this information to:</p>
                         <ul class="list-disc">
                            <li>Send you requested product or service information;</li>
                            <li>Send you a newsletter;</li>
                            <li>Send you marketing communications;</li>
                            <li>Respond to your questions, concerns, or contact you with important messages or information related to any services we are providing you.</li>
                         </ul>
                        <p><b>Information Obtained from Third Parties</b> We purchase marketing data about our customers from third parties and combine it with the personally identifiable information customers provide us, to offer advertising and products in which we think our customers will be interested in. We do not disclose this information to any third parties other than agents or service providers working on our behalf. Those agents or service providers are obligated to use this information only for the purpose for which we provided it to them.</p>
                        <p><b>Information Sharing</b> We will share your personal information with third parties only in the ways that are described in this privacy statement. We do not sell, rent, trade, or otherwise share your personal information with third parties without first providing you notice and obtaining your consent.</p>
                        <p><span class="text-decoration-underline">We may provide your personal information to agents or service providers acting on our behalf for limited purposes.</span> For example, we may share personal information with our agents or service providers in connection with our services. We provide such information to trusted agents or service providers for the sole purpose of processing Personal Information on our behalf in connection with our services. When this is done, it is subject to agreements that oblige those parties to process such information only on our instructions and in compliance with this Policy and appropriate confidentiality and security measures.</p>  
                        <p><span class="text-decoration-underline">We reserve the right to disclose your personal information as required by law</span> (e.g., to comply with a subpoena, warrant, court order, or similar legal process served on our website) <span class="text-decoration-underline">and when we believe that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, and/or respond to a government request.</span> In certain situations, we may be required to disclose personal data in response to lawful requests by public authorities, including meeting national security or law enforcement requirements.</p>
                        <p><span class="text-decoration-underline">In the event TriPointLending.com goes through a business transition, such as a merger, acquisition by another company, or sale of all or a portion of its assets, your personally identifiable information will likely be among the assets transferred.</span> You will be notified via email and/or a prominent notice on our website of any such change in ownership or control of your personal information, as well as any choices you may have regarding your personal information.</p>
                        <p><b>Security.</b> TPL takes precautions to ensure the security of your Personal Information, including ensuring that our third party service providers protect the security of your Personal Information. However, we cannot guarantee that hackers or unauthorized personnel will not gain access to your Personal Information despite our efforts. You should note that in using the Service, your information will travel through third party infrastructures which are not under our control (such as a third party SMS delivery platform or your carrier network).</p>
                        <p>We cannot protect, nor does this Policy apply to, any information that you transmit to other users. You should never transmit personal or identifying information to other users.</p>
                        <p><b>Opting in.</b> A mobile user might opt-in by:</p>
                        <ul class="list-disc">
                            <li>Entering a phone number online,</li>
                            <li>Sending a Mobile Originating (MO) message containing an advertising keyword,</li>
                            <li>Filling out a paper form that includes their phone number, or</li>
                            <li>Completing a request for information online.</li>
                        </ul>
                        <p><b>Opting out.</b> TPL gives you the ability to opt out of the Service for any reason. You can opt out by texting “STOP” or “QUIT” to +1 (800) 307-1789.</p>
                        <p>We reserve the right to send you certain communications relating to the Service, such as announcements and administrative messages, without offering you the opportunity to opt-out of receiving them.</p>
                        <p><b>Intended audience.</b> TPL requires that users of this service be limited to US residents only.</p>
                        <p>Questions or concerns? If you have any additional questions regarding this Policy, please feel free to contact us any time by texting “HELP” to +1 (800) 307-1789.</p>
                        <p><b>SMS Terms of Service.</b> Use of the TPL’s text message-based services (the “Service”) is subject to the following Terms of Service. These terms constitute a legal agreement (the “Agreement”). Please read them carefully.</p>
                        <ol>
                            <li>TPL will allow several different opportunities, such as a entering a phone number ore request for information online, to opt-in to SMS services. The opt-in received will be 'TEXT JOIN to sign up to receive Notifications from TPL.'</li>
                            <li>You can cancel the Service at any time. Just text "STOP" to cancel. After you send the SMS message "STOP" to us, we will send you an SMS message to confirm that you have been unsubscribed. After this, you will no longer receive SMS messages from us. If you want to join again, just sign up as you did the first time, and we will start sending SMS messages to you again.</li>
                            <li>If at any time you need customer assistance, just text "HELP" to After you send the SMS message "HELP" to us, we will respond with instructions on how to use our Service as well as how to unsubscribe if applicable. For more information contact us at +1 (800) 307-1789 or email us at <a href="mailto:support@tplend.com">support@tplend.com</a>.</li>
                            <li>As always, message and data rates may apply for any messages sent to you from us and to us from you, and TPL is not liable for the cost of any such messages. You will receive recurring messages from TPL. If you have any questions about your text plan or data plan, it is best to contact your wireless provider. For all questions about the Service provided, you can send an email to <a href="mailto:support@tplend.com">support@tplend.com</a>.</li>
                            <li>You understand that anyone with access to your mobile phone may be able to view the messages you receive when using the Service, and you agree that TPL will not be liable to you if this occurs.</li>
                            <li>You understand that you are not required to consent to the Service to receive any other services from TPL.</li>
                            <li>By agreeing to these Terms of Service and providing us with your mobile phone number when you opt in to the Service, you authorize TPL to contact you by text message at your mobile phone number using an automatic telephone dialing system or device, or any other computer assisted technology as applicable.</li>
                        </ol>
                        <p><b>Choice/Opt-Out</b> You may also opt-out of receiving our newsletter or marketing emails from us by following the unsubscribe instructions included in each newsletter or marketing email or you can contact us at <a href="mailto:marketing@tplend.com">marketing@tplend.com</a>.</p>
                        <p><b>Cookies and Other Tracking Technologies</b></p>
                        <p><i>Cookies</i></p>
                        <p>TriPoint Lending, LLC and our partners use cookies or similar technologies to analyze trends, administer the website, track users’ movements around the website, and to gather demographic information about our user base as a whole. You can control the use of cookies at the individual browser level, but if you choose to disable cookies, it may limit your use of certain features or functions on our website or service.</p>
                        <p><i>Log Files</i></p>
                        <p>As is true of most websites, we gather certain information automatically and store it in log files. This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or page views.</p>
                        <p>We use this information to analyze trends, to administer the site, to track users’ movements around the site and to gather demographic information about our user base as a whole.</p>
                        <p>We may record your IP addresses when you place an order, or engage our services, through our site in order to detect and prevent fraud.</p>
                        <p>We partner with a third party to either display advertising on our website or to manage our advertising on other sites. Our third-party partner may use technologies such as cookies to gather information about your activities on this website and other sites in order to provide you advertising based upon your browsing activities and interests. If you wish to not have this information used for the purpose of serving you interest-based ads, you may opt-out by emailing us at <a href="mailto:marketing@tplend.com">marketing@tplend.com</a>. Please note this does not opt you out of being served ads. You will continue to receive generic ads.</p>
                        <p><b>Correcting and Updating Your Personal Information</b> Upon request we will provide you with information about whether we hold any of your personal information. If you wish to request access, or deletion of your personal information please contact us at  <a href="mailto:marketing@tplend.com">marketing@tplend.com</a>. We will respond to your request within a reasonable timeframe.</p>
                        <p><b>Data Retention</b> We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
                        <p><b>Links to Other Websites</b> Our site includes links to other websites whose privacy practices may differ from those of TriPointLending.com. If you submit personal information to any of those sites, your information is subject to their privacy statements. We encourage you to carefully read the privacy statement of any website you visit.</p>
                        <p><b>Social Media Widgets</b> Our website includes Social Media Features, such as the Facebook Like button, and Widgets, such as the Share This button or interactive mini-programs that run on our website. These Features may collect your Internet protocol address, which page you are visiting on our website, and may set a cookie to enable the Feature to function properly. Social Media Features and Widgets are either hosted by a third party or hosted directly on our website. Your interactions with these Features are governed by the privacy statement of the company providing it.</p>
                        <p><b>Testimonials</b> We display personal testimonials of satisfied customers on our website in addition to other endorsements. With your consent, we may post your testimonial along with your name. If you wish to update or delete your testimonial, you can contact us at <a href="mailto:marketing@tplend.com">marketing@tplend.com</a>.</p>
                        <p><b>Security</b> The security of your personal information is important to us. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>
                        <p>If you have any questions about security on our website, you can contact us at <a href="mailto:marketing@tplend.com">marketing@tplend.com</a>.</p>
                        <p><b>Frames</b> Some of our pages utilize framing techniques to serve content to/from our partners while preserving the look and feel of our website. Please be aware that you are providing your personal information to these third parties and not to TriPoint Lending, LLC.</p>
                        <p><b>California Do Not Track Disclosures</b></p>
                        <p><b>How do we respond to Web browser “do not track” signals or other mechanisms that provide consumers the ability to exercise choice regarding the collection of personally identifiable information about an individual consumer’s online activities over time and across third-party websites or online services?</b></p>
                        <p>We currently do not respond to DNT signals in browsers because we do not track individual users across the web.</p>
                        <p><b>May other parties collect personally identifiable information about an individual consumer’s online activities over time and across different websites when they visit www.TriPointLending.com?</b></p>
                        <p>No.</p>
                        <p><b>Notice to California Residents</b></p>
                        <p>In response to a California law, we will automatically treat individuals with California addresses or telephone numbers (when disclosed to us) as if you requested us to not share your information with nonaffiliated third parties except as permitted by the applicable California law. We will also limit the sharing of information about you with our affiliates to comply with California privacy laws that apply to us.</p>
                        <p>You may also have additional rights to limit the disclosure of your Personal Information under the California Consumer Protection Act (“CCPA”). See below for right to limit information sharing among our affiliates.</p>
                        <p>Rights afforded under CCPA:</p>
                        <p>You have the following rights to restrict the sharing of personal and financial information with our affiliates (companies we contract with to market and enroll you into an TPL debt relief program) as well as outside companies that we do business with in connection with debt relief services.  Nothing herein prohibits the sharing of information necessary for us to follow the law, as permitted by law, or to give you the best service on any enrolled accounts with us. This includes sending you information about other products and services offered.</p>
                        <p>Choices afforded:</p>
                        <ol>
                            <li>Restrict information sharing with Affiliates: Unless you opt-out TPL may share personal and financial information about you with our Affiliates.</li>
                            <li>Restrict information sharing with other Companies: Unless you opt-out, TPL may share personal and financial information about you with outside companies we contract with to provide you with information related to financial services and products.</li>
                        </ol>
                        <p>To exercise your choices, do one of the following:</p>
                        <ol>
                            <li>Call <a href="tel:1-877-800-5345">1-877-800-5345</a></li>
                            <li>Email us at: <a href="mailto:support@tplend.com">support@tplend.com</a></li>
                        </ol>
                        <p><b>Notice to Vermont Residents</b></p>
                        <p>In response to Vermont regulations, we automatically treat accounts with Vermont billing addresses as if you requested that we not share your information with nonaffiliated third parties, and that we limit the information we share with our affiliates. If we disclose information about you to nonaffiliated third parties with whom we have joint marketing agreements, we will only disclose your name, address, other contact information, and information about our transaction and experiences with you.</p>
                        <p><b>Notice to Nevada Residents</b></p>
                        <p>We are providing you this notice pursuant to state law. You may be placed on our internal Do Not Call List by requesting that we cease calling you by contacting us directly and making such request in writing at <a href="mailto:marketing@tplend.com">marketing@tplend.com</a>. Nevada law requires that we also provide you with the following contact information: Bureau of Consumer Protection, Office of the Nevada Attorney General, 555 E. Washington St., Suite 3900, Las Vegas, NV 89101; Phone number: 702-486-3132; e-mail: <a href="mailto:BCPINFO@ag.state.nv.us">BCPINFO@ag.state.nv.us</a>.</p>
                        <p><b>Notice to Users Outside of the United States</b></p>
                        <p>This Online Privacy Policy is intended to cover collection of information on our Sites from residents of the United States. If you are visiting our Sites from outside the United States, please be aware that your information may be transferred to, stored and processed in the United States where our servers are located and our central database is operated. The data protection and laws of the United States and other countries might not be as comprehensive as those in your country. By using our services, you understand that your information may be transferred to our facilities and those third-parties with whom we share it as described in this Notice.</p>
                        <p><b>Protecting Children’s Privacy Online</b></p>
                        <p>The Site is not directed to individuals under the age of thirteen (13), and we request that these individuals do not provide Personal Information through the Site. We do not knowingly collect information from children under 13. Visit the Federal Trade Commission website for more information about the Children’s Online Privacy Protection Act (COPPA). If you believe that we have received information from a child or other person who is not of a majority age in their relevant jurisdiction, please contact us at our email or physical mailing address listed in the “Contact Us” section below and we will take all reasonable efforts to remove the information.</p>
                        <p><b>Notification of Privacy Statement Changes.</b> We may update this policy from time to time as our information practices are modified or changed. If we make changes to the Privacy Notice, we will revise the “Last Updated” date at the top of this Notice. Any changes to this Notice will become effective when we post the revised Notice on the Site. Your use of the Site following these changes means that you accept the revised Notice.</p>
                        <p><b>Contact Information</b> You can contact us by writing or email us at the address below.</p>
                      
                        <div class="addr-box">
                            <p>TriPoint Lending, LLC</p>
                            <p>4 Park Plaza</p>
                            <p>Suite 1650</p>
                            <p>Irvine, CA 92614</p>
                            <p><a href="mailto:support@tplend.com">Support@tplend.com</a></p>
                            <p><a href="tel:1-877-800-5345">1-877-800-5345</a></p>
                        </div>
                          <br/>
                        <p><b>Please print and retain a copy of this privacy policy for your records.</b></p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<style asp-add-nonce="true">
        .addr-box p {
            margin: 0;
        }
      .container {
         overflow: auto;
         }
       .custom-padding {
           padding: 200px 0 90px !important;
       }
       .congratulations {
           background: rgba(0,0,0,0) linear-gradient(358deg, #E7F3FC 0%, rgba(255, 255, 255, 0.0509803922) 100%);
           position: relative;
       }
       .congratulations {
           background: transparent linear-gradient(358deg, #E7F3FC 0%, #FFFFFF0D 100%);
           position: relative;
           &::after {
               position: absolute;
               content: '';
               top: 0;
               bottom: 0;
               left: 0;
               right: 0;
               background-image: url('images/Triangle-Pattern_TPL.webp');
               z-index: -1;
           }
       }
      .sidebar-scroll {
          width: 100%;
          height: 100% !important;
      }
      .list-disc{ 
       display: block;
       list-style-type: disc;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       padding-inline-start: 40px;
   }
</style>