
    <!-- great-news section start -->
    <section class="great-news congratulations">
      <div class="custom-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-12">
              <div class="terms-section">
                <div class="position-relative">
                  <h1 class="title blue-text">Privacy Policy</h1>
                  <div class="sidebar-scroll" id="scrollbar">
                    <div class="terms-details">
                      <p><b>UPDATED 1/1/2023</b></p>
                      <p>The Tripoint Lending Privacy Policy applies to everyone who visits our website:</p>
                      <p>Information Collection, Use, and Sharing</p>
                      <p>Tripoint Lending is the sole owner of the information collected on this site. We only have access
                        to/collect information that you voluntarily give us via email or other direct contact with you.
                        Information we collect may include, but is not limited to:</p>
                      <p>-Name</p>
                      <p>-Address</p>
                      <p>-Email address</p>
                      <p>-Contact Number</p>
                      <p>-Date of Birth</p>
                      <p>-Social Security Number</p>
                      <p>We also collect any other personal information that you choose to provide when you visit this site.
                        Your decision to provide additional information is entirely optional. We will not sell or rent this
                        information to anyone. We will use your information to respond to you regarding the reason you
                        contacted us. We will not share your information with any third party outside of our organization,
                        other than as necessary to fulfill your request, e.g. to ship an order. Unless you ask us not to, we
                        may contact you via email in the future to tell you about specials, new products or services, or
                        changes to this privacy policy.</p>
                      <p><b>Your Access to and Control over Information</b></p>
                      <p>You may opt out of any future contact from us at any time. This may be done through the following
                        at any time: contact us via email at <a href="mailto:marketing@tplend.com">marketing@tplend.com</a>  or contact us via telephone at <a href="tel:1(800) 307-1789">1(800) 307-1789</a>. By contacting us you may: see what data we have about you, if any. Change/correct any data
                        we have about you. Have us delete any data we have about you. Express any concern you have about our
                        use of your data.</p>
                      <p><b>Security</b></p>
                      <p>We take precautions to protect your information. When you submit sensitive information via the
                        website, your information is protected both online and offline. Wherever we collect sensitive
                        information (such as credit card data), that information is encrypted and transmitted to us in a
                        secure way. You can verify this by looking for a closed lock icon in your web browser or looking for
                        “https” at the beginning of the address of the web page. Placement of this icon varies by website
                        browser. While we use encryption to protect sensitive information transmitted online, we also
                        protect your information offline. Only employees who need the information to perform a specific job
                        (for example, billing or customer service) are granted access to personally identifiable
                        information. The computers/servers in which we store personally identifiable information are kept in
                        a secure environment. If you feel that we are not abiding feel free to contact us at <a
                          href="tel:(800) 307-1789">1(800) 307-1789</a></p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<style asp-add-nonce="true">
      .container {
         overflow: auto;
         }
       .custom-padding {
           padding: 200px 0 90px !important;
       }
       .congratulations {
           background: rgba(0,0,0,0) linear-gradient(358deg, #E7F3FC 0%, rgba(255, 255, 255, 0.0509803922) 100%);
           position: relative;
       }
       .congratulations {
           background: transparent linear-gradient(358deg, #E7F3FC 0%, #FFFFFF0D 100%);
           position: relative;
           &::after {
               position: absolute;
               content: '';
               top: 0;
               bottom: 0;
               left: 0;
               right: 0;
               background-image: url('images/Triangle-Pattern_TPL.webp');
               z-index: -1;
           }
       }
      .sidebar-scroll {
          width: 100%;
          height: 100% !important;
      }
</style>