@{
    ViewData["Title"] = "Home Page";
}

<div>
    @await Html.PartialAsync("Partials/_MainContent")
    @await Html.PartialAsync("Partials/_ApprovalCode")
    @await Html.PartialAsync("Partials/_ChatBanner")
    @await Html.PartialAsync("Partials/_FeatureBanner")
    @await Html.PartialAsync("Partials/_FeatureGrid")
</div>
