<div class="customer-footer">
    
</div>

<style asp-add-nonce="true">
    .customer-footer {
        height: 200px;
        background-color: #0054b6;
        top: -119px;
        margin-bottom: -119px;
        position: relative;
        z-index: -1;
    }
</style>