@{
    var formConfig = new FormConfig(ViewContext) {
        FormId = "CustomerForm",
        FormTitle = "Verify Your Identity",
        BeforeSubmit = "CustomerFormBeforeSubmit",
        Callback = "CustomerFormCallback"
    };
    var stateList = new List<SelectListItem> {
        new() { Text = "State (required)", Value = "State (required)" },
        new() { Text = "Alabama", Value = "AL" },
        new() { Text = "Alaska", Value = "AK" },
        new() { Text = "Arizona", Value = "AZ" },
        new() { Text = "Arkansas", Value = "AR" },
        new() { Text = "California", Value = "CA" },
        new() { Text = "Colorado", Value = "CO" },
        new() { Text = "Connecticut", Value = "CT" },
        new() { Text = "District of Columbia", Value = "DC" },
        new() { Text = "Delaware", Value = "DE" },
        new() { Text = "Florida", Value = "FL" },
        new() { Text = "Georgia", Value = "GA" },
        new() { Text = "Hawaii", Value = "HI" },
        new() { Text = "Idaho", Value = "ID" },
        new() { Text = "Illinois", Value = "IL" },
        new() { Text = "Indiana", Value = "IN" },
        new() { Text = "Iowa", Value = "IA" },
        new() { Text = "Kansas", Value = "KS" },
        new() { Text = "Kentucky", Value = "KY" },
        new() { Text = "Louisiana", Value = "LA" },
        new() { Text = "Maine", Value = "ME" },
        new() { Text = "Maryland", Value = "MD" },
        new() { Text = "Massachusetts", Value = "MA" },
        new() { Text = "Michigan", Value = "MI" },
        new() { Text = "Minnesota", Value = "MN" },
        new() { Text = "Mississippi", Value = "MS" },
        new() { Text = "Missouri", Value = "MO" },
        new() { Text = "Montana", Value = "MT" },
        new() { Text = "Nebraska", Value = "NE" },
        new() { Text = "Nevada", Value = "NV" },
        new() { Text = "New Hampshire", Value = "NH" },
        new() { Text = "New Jersey", Value = "NJ" },
        new() { Text = "New Mexico", Value = "NM" },
        new() { Text = "New York", Value = "NY" },
        new() { Text = "North Carolina", Value = "NC" },
        new() { Text = "North Dakota", Value = "ND" },
        new() { Text = "Ohio", Value = "OH" },
        new() { Text = "Oklahoma", Value = "OK" },
        new() { Text = "Oregon", Value = "OR" },
        new() { Text = "Pennsylvania", Value = "PA" },
        new() { Text = "Rhode Island", Value = "RI" },
        new() { Text = "South Carolina", Value = "SC" },
        new() { Text = "South Dakota", Value = "SD" },
        new() { Text = "Tennessee", Value = "TN" },
        new() { Text = "Texas", Value = "TX" },
        new() { Text = "Utah", Value = "UT" },
        new() { Text = "Vermont", Value = "VT" },
        new() { Text = "Virginia", Value = "VA" },
        new() { Text = "Washington", Value = "WA" },
        new() { Text = "West Virginia", Value = "WV" },
        new() { Text = "Wisconsin", Value = "WI" },
        new() { Text = "Wyoming", Value = "WY" }
    };
}
@model Customer

<div class="customer-parent">
    <form class="form-grid" id="@formConfig.FormId" asp-formhelper="true" asp-dataType="FormData" asp-controller="Verify" asp-action="Save" enctype="multipart/form-data" formhelper>
        @Html.HiddenFor(x=>x.Id, new {@Value = ViewBag.customerGid})
        <div class="form-grid">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name (required)">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name (required)">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text" class="form-control" placeholder="Email (required)">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div></div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" type="text" class="form-control" placeholder="Phone (required)">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cell"></label>
                <input asp-for="Cell" type="text" class="form-control" placeholder="Cell">
                <span asp-validation-for="Cell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" type="text" class="form-control" placeholder="Address (required)">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" type="text" class="form-control" placeholder="City (required)">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State"></label>
                <select asp-for="State" asp-items="stateList" type="text" class="form-control state" placeholder="State (required)"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip"></label>
                <input asp-for="Zip" type="text" class="form-control" placeholder="Zip Code (required)">
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>

            <div class="submit-area">
                <button type="submit" id="submit-verify" class="btn-submit-form">Verify</button>
                <br/><br/>
                <div>This will <strong>NOT</strong> affect your credit score.</div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript" asp-add-nonce="true">

    var CustomerFormBeforeSubmit = function (rr, $form, options) {
        document.getElementById("submit-verify").disabled = true;
        $(".btn-submit-form").css("filter","grayscale(100%)");
        document.getElementById("submit-verify").innerHTML = "Verifying...";
      
    };
    var CustomerFormCallback = function (response, statusText, xhr, $form) {
        document.getElementById("submit-verify").disabled = false;
        $(".btn-submit-form").css("filter","grayscale(0)");
        document.getElementById("submit-verify").innerHTML = "Verify";
 };
window.addEventListener("load", function () {

    $(document).ready(function(){
       const $form = $('#CustomerForm');
                                           
       $form.attr('formhelper')
       $form.attr('dataType', 'FormData');
       $form.attr('CheckTheFormFieldsMessage', 'Check the form fields.');
       $form.attr('redirectDelay', '0');
       $form.attr('beforeSubmit', 'CustomerFormBeforeSubmit');
       $form.attr('callback', 'CustomerFormCallback');
       $form.attr('enableButtonAfterSuccess', 'False');
       $form.attr('resetFormAfterSuccess', 'True');
       $form.attr('toastrPositionClass', 'formhelper-toast-top-right');

        $(".state").change(function(){ 
            $("option[value='State (required)']").remove();           
        });    
        $("input[name='Phone']").keyup(function() {
            $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d+)$/, "($1)$2-$3"));
        });
        $("input[name='Cell']").keyup(function() {
            $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d+)$/, "($1)$2-$3"));
        });
    });
});

</script>
<style asp-add-nonce="true">
    input, select {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: #797575 !important;
    } 
    .customer-parent {
        width: 90%;
        border-radius: 10px;
        margin: 0 auto 18px;
        background-color: white;
    }
    .form-control {
        width: 90%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
    .form-group label {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    .btn-submit-form {
        color: white;
        font-weight: 600;
        background-color: #fe9c57;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        padding: 2px 50px;
    }
    .form-grid {
      display: flex;
      flex-wrap: wrap;
    }
    .form-grid > div {
      flex: 51%; 
      margin-bottom: 10px;
    }
    .submit-area {
        text-align: center;
        margin-top: 18px;
    }
    @@media only screen and (min-width:  855px) {
        .form-grid > div {
             flex: 50%; 
             margin-bottom: 10px;
           }
    }
    .text-danger{
        color: red;
        font-size: 12px;
        display: block;
    }
</style>