<div class="main-parent">
    <p class="main-great">Verify Your Identity</p>
    <p class="main-subheading">Please verify your information, complete any empty fields and click Verify.</p>
</div>
<style asp-add-nonce="true">
     .main-parent {
            text-align: center;
    }
    .main-subheading {
        text-align: center;
        color: #0054b6;
        font-size: 1.2em;
        font-weight: bold;
    }
    .main-great {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 20px;
        color: black;
    }
</style>