<footer>
    <p>
        <strong>New Haven Funding &copy; @DateTime.Now.Year.ToString(). All Rights Reserved.</strong>
    </p>
</footer>

<style asp-add-nonce="true">
    footer {
        background-color: #707070;
        color: #ffffff;
        text-align: center;
        padding: 10px;
    }
</style>